#containner{
	padding: 2%;

}
label{
	float: left;
}
fieldset {
	background: #f2f5f7;
	border: 1px solid #ddd;
	padding: 20px;
	margin-bottom: 15px;

	-moz-border-radius: 10px;
}

fieldset > div{

	margin-top: 18px;

}
input[type='text']{
	height: 30px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-left: 6px;

}
#DDDFixo,#DDDCel{
	height: 30px;
	margin-top: 2px;
	background:#EAEAE2;
}
#cidade {
	width: 62%;
	height: 30px;
	margin: 3px 27px 0% 0%;
}

.legenda{
	


}

.float-left{
	float: left;
}
#float-left{
	float: left;
}

#radio2{margin-left: 20px;}


input[type="button"], input[type="submit"] {
	background: rgb(16, 45, 75);
	/* width: 22%; */
	height: 32px;
	color: white;
	margin: 7px 0;
	border: 0;
	border-radius: 2px;
}

#btn {
    background: rgb(16, 45, 75);
    width: 132px;
    color: white;
    height: 36px;
    border: none;
    border-radius: 2px;
}

