.flickerplate
{
    /*background-color: #e6e6e6;*/
    height: 200px;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 1;
    margin: 10px 0;
}

#conteudo{
    z-index: 10000;


}
.flickerplate ul.flicks
{
    height: 100%;
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: 10000%;
}
.flickerplate ul.flicks>li
{
    background-position: center;
    background-size: cover;
    display: table;
    float: left;
    height: 100%;
    width: 1%;
}
.flickerplate ul.flicks>li .flick-inner
{
    color: #fff;
    display: table-cell;
    height: 100%;
    padding: 10px;
    vertical-align: middle;
}
.flickerplate ul.flicks>li .flick-inner .flick-content
{
    margin-left: auto;
    margin-right: auto;
    max-width: 68.75em;
}
.flickerplate ul.flicks>li .flick-title
{
    font-size: 2.778em;
    line-height: 1.995em;
    padding: 0px 0px;
    text-align: center;
}
@media only screen and (max-width: 43.813em)
{
    .flickerplate ul.flicks>li .flick-title
    {
        font-size: 1.667em;
    }
}
.flickerplate ul.flicks>li .flick-sub-text
{
    color: rgba(255,255,255,0.8);
    font-weight: 300;
    line-height: 2.5em;
    padding: 5px;
    text-align: center;
}
.flickerplate ul.flicks>li .flick-title span.flick-block-text,.flickerplate ul.flicks>li .flick-sub-text span.flick-block-text
{
    background-color: rgba(0,0,0,0.6);
    padding: 12px 18px;
}
.flickerplate .arrow-navigation
{
    height: 60%;
    overflow: hidden;
    position: absolute;
    top: 10%;
    width: 10%;
    z-index: 1;
}
.flickerplate .arrow-navigation .arrow
{
    display: block;
    height: 100%;
    moz-transition: all 0.2s ease-out;
    ms-transition: all 0.2s ease-out;
    o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    webkit-transition: all 0.2s ease-out;
    width: 90%;
}
.flickerplate .arrow-navigation:hover,.flickerplate .arrow-navigation .arrow:hover
{
    cursor: pointer;
}
.flickerplate .arrow-navigation.left
{
    left: 0%;
}
.flickerplate .arrow-navigation.left .arrow
{
    background-image: url("../img/flickerplate/arrow-left-light.png");
    background-position: left;
    background-repeat: no-repeat;
    margin: 0px 0px 0px 50%;
    opacity: 0;
    padding-top: 50%;
}

.flickerplate .arrow-navigation.right
{
    right: 0%;
}

.flickerplate .arrow-navigation.right .arrow
{
    background-image: url("../img/flickerplate/arrow-right-light.png");
    background-position: right;
    background-repeat: no-repeat;
    margin: 0px 0px 0px -50%;
    opacity: 0;
    padding-top: 50%; 
}

.flickerplate .arrow-navigation.left.hover .arrow
{
    margin: 0px 0px 0px 20%;
    opacity: 1;
}
.flickerplate .arrow-navigation.right.hover .arrow
{
    margin: 0px 0px 0px -20%;
    opacity: 1;
}
.flickerplate .dot-navigation
{
    display: none;
    bottom: 15px;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 1;
}
.flickerplate .dot-navigation ul
{
    list-style: none;
    padding: 0px 15px;
    text-align: center;
}
.flickerplate .dot-navigation ul li
{
    display: inline-block;
    float: none;
}
.flickerplate .dot-navigation .dot
{
    background-color: rgba(255,255,255,0.3);
    border-radius: 50%;
    height: 14px;
    margin: 0px 6px;
    moz-border-radius: 50%;
    moz-transition: background-color 0.2s ease-out;
    ms-border-radius: 50%;
    ms-transition: background-color 0.2s ease-out;
    o-border-radius: 50%;
    o-transition: background-color 0.2s ease-out;
    transition: background-color 0.2s ease-out;
    webkit-border-radius: 50%;
    webkit-transition: background-color 0.2s ease-out;
    width: 14px;
}
.flickerplate .dot-navigation .dot:hover
{
    background-color: rgba(255,255,255,0.6);
    cursor: pointer;
}
.flickerplate .dot-navigation .dot.active
{
    background-color: #fff;
}
.flickerplate .dot-navigation.left,.flickerplate .dot-navigation.left ul
{
    text-align: left;
}
.flickerplate .dot-navigation.right,.flickerplate .dot-navigation.right ul
{
    text-align: right;
}
.flickerplate.flicker-theme-dark .arrow-navigation.left .arrow
{
    background-image: url("../img/flickerplate/arrow-left-dark.png");
}
.flickerplate.flicker-theme-dark .arrow-navigation.right .arrow
{
    background-image: url("../img/flickerplate/arrow-right-dark.png");
}
.flickerplate.flicker-theme-dark .dot-navigation .dot
{
    background-color: rgba(0,0,0,0.12);
}
.flickerplate.flicker-theme-dark .dot-navigation .dot:hover
{
    background-color: rgba(0,0,0,0.6);
}
.flickerplate.flicker-theme-dark .dot-navigation .dot.active
{
    background-color: #000;
}
.flickerplate.flicker-theme-dark ul.flicks li .flick-inner
{
    color: rgba(0,0,0,0.9);
}
.flickerplate.flicker-theme-dark ul.flicks li .flick-inner .flick-content .flick-sub-text
{
    color: rgba(0,0,0,0.9);
}
.flickerplate.flicker-theme-dark ul.flicks li .flick-inner .flick-content .flick-title span.flick-block-text,.flickerplate.flicker-theme-dark ul.flicks li .flick-inner .flick-content .flick-sub-text span.flick-block-text
{
    background-color: rgba(255,255,255,0.5);
}
.flickerplate ul.flicks li.flick-theme-dark .flick-inner
{
    color: rgba(0,0,0,0.9);
}
.flickerplate ul.flicks li.flick-theme-dark .flick-inner .flick-content .flick-sub-text
{
    color: rgba(0,0,0,0.9);
}
.flickerplate ul.flicks li.flick-theme-dark .flick-inner .flick-content .flick-title span.flick-block-text,.flickerplate ul.flicks li.flick-theme-dark .flick-inner .flick-content .flick-sub-text span.flick-block-text
{
    background-color: rgba(255,255,255,0.5);
}
.flickerplate.animate-transform-slide ul.flicks
{
    moz-transition: -moz-transform 0.6s;
    o-transition: -o-transform 0.6s;
    transform: translate3d(0%, 0px, 0px);
    transition: transform 0.6s;
    webkit-backface-visibility: hidden;
    webkit-perspective: 1000;
    webkit-transform: translate3d(0%, 0px, 0px);
    webkit-transition: -webkit-transform 0.6s;
}
.flickerplate.animate-transition-slide ul.flicks
{
    left: 0%;
    moz-transition: left 0.4s ease-out;
    ms-transition: left 0.4s ease-out;
    o-transition: left 0.4s ease-out;
    position: relative;
    transition: left 0.4s ease-out;
    webkit-transition: left 0.4s ease-out;
}
.flickerplate.animate-jquery-slide ul.flicks
{
    left: 0%;
    position: relative;
}
.flickerplate.animate-scroller-slide
{
    overflow: auto;
    padding-bottom: 0px;
}
.flickerplate.animate-scroller-slide ul.flicks
{
    position: auto;
}