.f-left 
{
    float: left;
}

.linha 
{
    height: 2px;
    background-image: linear-gradient(to bottom, white, gray);
    margin: 10px 0;
}

.font-regulamento 
{
    color: #791315;
    font-size: 1.3em;
    font-weight: bold;
    text-decoration: underline;
}

.botao-cadastro 
{
    background: #33506d;
    border: none;
    border-bottom: 2px solid #102d4b;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
    font-size: 2em;
    height: 70px;
    min-width: 65px;
    padding: 5px;
    text-align: center;
    width: 99.7%;
    margin-bottom: 10px;
}

/*BOX IMPUT*/

.box-10-form 
{
    width: 10%;
}

.box-20-form 
{
    width: 20%;
}

.box-25-form {
    width: 25%;
}


.box-30-form
{
    width: 30%;
}

.box-35-form 
{
    width: 35%;
}

.box-40 
{
    width: 40%;
}

.box-40-form 
{
    width: 40%;
}

.box-45-form {
    width: 45%;
}

.box-50-form {
    width: 50%;
}

.box-60
{
    width: 60%;
    min-width: 347px;
}

.box-80-form 
{
    width: 80%;
}

.box-83-form 
{
    width: 83%;
}

.box-92-form 
{
    width: 92%;
}

.box-94-form 
{
    width: 94%;
}

.box-95-form 
{
    width: 95%;
}

.box-97-form 
{
    width: 97%;
}

.box-100 {
    width: 100%;
}

.espacamento_padrao
{
    margin: 10px 0;
}

.campos-select 
{
    width: 100%;
    height: 34px;
    font-size: 16px;
    font-family: tahoma;
    font-stretch: condensed;
}

.campos 
{
    width: 100%;
    height: 28px;
    margin-bottom: -8px;
    font-size: 16px;
    font-family: tahoma;
    font-stretch: condensed;
}

.texto-descricao
{
    width: 100%;
    text-align: justify;
    font-size: 1em;
}
