// Icon Sizes
// -------------------------

/* makes the font 33% larger relative to the icon container */
.icone-geral{$fa-css-prefix}-lg {
	font-size: (4em / 3);
	line-height: (3em / 4);
	vertical-align: -15%;
}
.icone-2{$fa-css-prefix}-2x { font-size: 2em; }
.icone-3{$fa-css-prefix}-3x { font-size: 3em; }
.icone-4{$fa-css-prefix}-4x { font-size: 4em; }
.icone-5{$fa-css-prefix}-5x { font-size: 5em; }

/*===================    ID   =================*/

#txt-curso {
	width: 25%;
	font-size: 15px;
	text-align: left;
	padding: 2%;
	position: relative;
	margin: 20px 10px 0 0;
}

#div-img-curso {
	width: 20%;
	height: auto;

	padding: 2%;
	position: relative;
	margin: 20px 0;

}

#imagem-curso {
	margin-bottom: 5%;
	text-align: center;
}

#matricular > a > input[type="submit"] {
	width: 100%;
	height: 30px;
	background: #299f53;
	border: none;
	color: #fff;
	cursor: pointer;
}

/*=============================================*/

/*=================== CLASSES =================*/

.box-e{
	width: 245px;
	float: left;
	margin-top: -274px;
}

.box-e-livre{
	width: 245px;
	float: left;
	margin-top: -335px;
}

.linha-info{
	margin-top: 5px!important;
	margin-bottom: 1px!important;
}

.float-left {
	float: left;
}

.header{
	font-size: 18px;
}

.titulo-info {
	/*border-bottom: 1px solid rgb(171, 119, 1);*/
	color: #222222;
	font-weight: 600;
	font-size: 14px;
	text-transform: uppercase;
}

.box-info{
	margin-left: 8px;
	margin-top: 18px;
	margin-bottom: -6px;
}

.sub-info{
	font-weight: 600;
	font-size: 16px;
	text-transform: uppercase;
	margin-left: 16px;
}

.text-info{
	text-align: justify;
}

.resp-tabs-container {
	padding: 0px;
	background-color: #fff;
	clear: left;
}

.botao-info{
	width: 80%;
	margin: 0 auto;
	background: #299850;
	text-align: center;
	color: #fff;
	padding: 1%;
	margin-top: 10%;
	margin-right: 8%;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: bold;
	border-bottom: 4px solid #0d6e2f;
	cursor: pointer;
}
.border-bottom: 4px solid #5d96ca;
}
/*================= MEDIA QUERY  ====================*/

@media screen and (min-width: 0px) and (max-width: 750px) {
	#tab1 > table {
		width: 96%!important;
		float: left;
		margin: 12px;
		height: 550px;
	}
	#div-img-curso {
		width: 100%;
		height: 250px;
		padding: 2%;
		position: relative;
		margin: 20px 0 390px 0;
	}

	#txt-curso {
		width: 100%;
		min-height: 160px;
		text-align: justify;
		padding: 2%;
		position: relative;
		margin: 20px 10px 0 0;
	}
}

/*=============================================*/
/*=============================================*/