html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video
{
    margin: 0;
    padding: 0;

    vertical-align: baseline;

    border: 0;
    outline: 0;
    background: transparent;
}

a
{
    list-style: none;

    text-decoration: none;

    color: black;
}

*
{
    font-family: 'Open Sans', Helvetica, Arial, sans-serif !important;
}

html
{
    height: 100%;
}

body
{
    width: 100%;
    min-width: 400px;
    height: 100%;
    margin: 0 auto;
}

blockquote,
q
{
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after
{
    content: '';
    content: none;
}

a
{
    font-size: 12px;

    margin: 0;
    padding: 0;

    vertical-align: baseline;

    background: transparent;
}

ins
{
    text-decoration: none;

    color: #000;
    background-color: #ff9;
}

mark
{
    font-weight: bold;
    font-style: italic;

    color: #000;
    background-color: #ff9;
}

del
{
    text-decoration: line-through;
}

abbr[title],
dfn[title]
{
    cursor: help;

    border-bottom: 1px dotted;
}

table
{
    border-spacing: 0;
    border-collapse: collapse;
}

hr
{
    display: block;

    height: 1px;
    margin: 1em 0;
    padding: 0;

    border: 0;
    border-top: 1px solid #ccc;
}

input,
select
{
    vertical-align: middle;
}

.link-grid{
    color: #fff!important;
    text-decoration: none;
}

.link-grid{
    text-decoration: none!important;
}

.cursos-graduacao-interno{
    height: 220px;
    overflow: hidden;
    margin-bottom: 30px;
    margin-top: 6%;
    max-width: 100%;
}

.cursos-graduacao-interno .ehover4 h2 {
  transform: translateY(164px);
  transition: all 0.4s ease-in-out;
}

.cursos-graduacao-interno .ehover4:hover h2 {
  transform: translateY(15px);
}

.cursos-graduacao-interno .ehover4 button.info {
  opacity: 0;
  transform: scale(0);
  transition: all 0.4s ease-in-out;
  font-weight: normal;
  border: 1px solid white;
  margin: 103px 10px 20px 14px;
  width: 90%;
  padding: 20px 90px;
}

.cursos-graduacao-interno .ehover4:hover button.info {
  opacity: 1;
  transform: scale(1);
}

.ehover4 button.info{
  background: #102d4b!important;
}

.hover h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 13px;
  padding: 14px 30px;
  background: #102d4b!important;
}


.menu-centro{
    margin: 0 auto;
    width: 779px;
}

.centraliza-noticia{
    width: 85%;
    margin: 0 auto;
}

.centraliza-div-interna
{
    margin: 0 auto;
    width: 50%; /* Altere para o valor da largura desejada. */
}

.botao-pag-seg
{
    float: left;
    margin-top: 40px;
}

.botao-imprimir
{
    margin-bottom: 20px;
    float: right;
}
.box-100
{
    width: 100%;
}

.box-1200{
    position: relative;
    width: 1200px;
}

.espacamento_padrao
{
   margin: 10px 2px;
}

.link-bold{
    color: #000;
    font-size: 14px;
}

.link-bold:hover{
    font-weight: bold;
}

.espacamento-form {
    width: 80%;
    padding: 4% 2% 6% 2%;
    margin: 0 auto;
    margin-bottom: 12%;
    background: #eee;
}

.texto-form{
    font-size: 1.1em;
    margin-bottom: 1%;
    font-weight: bold;
}

.botao-escuro{
    float: right;
    color: #ffffff;
    background: #102d4b;
    border: 1px solid #102d4b;
}

.but
{
    padding: 10px 20px;
    font-family: Helvetica, Arial, sans-serif;
    border: 0px;
    display: inline-block;
    background-color: #33506d;
    color: #fff;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Tahoma, sans-serif;
    cursor: pointer;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    border: none;
    border-bottom: 2px solid #102d4b;
    height: 60px;
    min-width: 150px;
}


#menu > div > ul > li
{
    cursor: pointer;

    color: white;
}

#logoimg
{
    float: left;
    margin-top: 24px;
}

#login
{
    float: right;

    width: 440px;
    margin: 9px 11px;
    padding: 10px;
}

#telefone
{
    font-size: 20px;

    text-align: right;

    color: rgb(23, 11, 90);
}

#login > form > input[type='password'],
#login > form > input[type='text']
{
    width: 152px;
    padding-left: 8px;
}

/*input[type='text'],
input[type='password']
{
    height: 30px;
    padding: 2px;

    border: 1px solid #a9a9a9;
    }*/

    .botao-acessar
    {
        float: right;
        width: 100px!important;
        height: 38px;
        padding: 8px;
        color: white;
        border: 0;
        background: rgb(93, 150, 202);
        border-radius: 3px;
    }

    

/*input[type='submit']
{
    float: right;

    width: 84px;
    height: 36px;
    padding: 8px;

    color: white;
    border: 0;
    background: rgb(93, 150, 202);
    }*/

    #menu
    {
        clear: both;
    }

    #menu > div > ul > li > ul
    {
        font-size: 12px;
        position: absolute;
        z-index: 419999991;
        display: none;
        width: 170px!important;
        padding: 8px;
        background: #2a2a2a;
        padding-bottom: 2%;
        text-decoration: none!important;
        /* box-shadow: 4px 0 38px -15px black; */
    }

    #div1-menu > li > a
    {
     z-index: 419999991;
     float: left;
     width: 99%;
     background: #2a2a2a;
     color: #fff;
     line-height: 2.5!important;
     border-bottom: 1px solid #fff;
     text-decoration: none!important;
 }

 #menu > div > ul > li > ul > div > li > a:hover
 {
    color: rgb(147, 113, 53);
    background: #1b265a z-index:419999991;
}

#div1-menu > li > a:hover > ul
{
    position: absolute;

    display: block;

    width: 100px;
    height: 200px;
}

#menu > div > ul > li > ul > #div1-menu > li > ul > li > a:hover
{
    color: orange !important;
}

#menu > div > ul > li > ul > #div1-menu > li > ul > li
{
    font-size: 12px;

    background: none;
}

#menu > div > ul > li > ul > #div1-menu > li > ul
{
    position: absolute;

    display: none !important;

    width: 100px;
    height: 200px;
}

#menu > div > ul > li > ul > #div1-menu > li:hover > ul
{
    top: 0;
    left: 200px;

    display: block !important;

    width: 220px;
    height: 200px;

    list-style: none;

    background: rgb(232, 227, 227);
}

.cor_box_cinza
{
    background: #666;
}

.titulo
{
    position: relative;

    padding: 0 0 0 0;

    color: #140958;
    background-image: url('../img/seta-titulo.png');
    background-repeat: no-repeat;
}

.texto p
{
    width: 90%;
    padding: 18px;

    text-align: left;

    color: #999;
}

.leiamais p
{
    font-weight: bold;

    float: right;

    width: 95px;

    text-align: left;

    color: #cbb77a;
}


[type=radio]:checked ~ label {
    background: #102d4b!important;
    border-bottom: 1px solid white;
    z-index: 2;
    color: #fff;
}

#logo
{
    width: 950px;
    height: 100px;
    margin: 0 auto;
    /*padding: 20px 0;*/
}

#banner
{
    width: 926px;
    margin: 10px auto 0 auto;
}

#menu
{
    background-color: #102d4b;
}

#menu > div > ul > li > a
{
    color: white;
    text-decoration: none;
}

#menu > div > ul > li:hover {
    background: #2a2a2a
}

#menu > div > ul > li:active{
 background: #2a2a2a
}

#menu > div > ul > li:focus{
 background: #2a2a2a
}

#menu > div > ul > li:visited{
 background: #2a2a2a
}

#menu ul > li
{
    font-size: 12px;
    line-height: 50px;
    height: 50px;
    display: inline-block;
    /* margin-right: 14px; */
    padding: 0px 10px 0 12px;
    /* margin: 0 auto; */
    border-left: 1px solid #fff;
    list-style: none;
}

#menu ul > li:last-child{
    border-right: 1px solid #fff;
}

#barra-acima-rodape
{
    color: #140958;
    background-color: #c4c3c1;
}

#containner > div > div > div > div > ul > li > a
{
    color: #140958;
}

#barra-acima-rodape ul > li
{
    font-size: 12px;
    line-height: 30px;

    display: inline-block;

    margin-right: 20px;
    padding-left: 20px;

    list-style: none;

    background: url('../img/seta-rodape.png') no-repeat left center;
}
#encontreCurso
{
    font-size: 12px;
    width: 100%;
    height: 100px;
    margin: 12px 0;
    padding-top: 15px;
    text-align: center;
    background: #102d4b;
}

#encontreCurso > h1
{
    font-size: 16px;

    padding: 5px;

    color: white;
}
#pesquisa
{
    font-size: 12px;
    width: 100%;
    height: 100px;
    margin: 12px 0;
    padding-top: 15px;
    text-align: center;
    background: rgb(150, 148, 158);
}
#___gcse_0 > div > div > form > table.gsc-search-box > tbody > tr > td.gsc-search-button > input
{
    border: none;
}

}

.titulo-inscricao
{
    font-size: 25px;
    color: #3C3C3C;
}


.texto-meio-pesquisa
{
    font-size: 28px;
    padding: 5px;
    color: white;
}


#pesquisa > h1
{
    font-size: 16px;

    padding: 5px;

    color: white;
}

#pesquisa > h2
{
    font-size: 16px;

    padding: 5px;

    color: white;
}
input.gsc-search-button,
input.gsc-search-button:hover,
input.gsc-search-button:focus
{
    border-color: none;
    background-color: #6fa8dc;
    background-image: none!important;

    filter: none;
}

.gsc-control-cse
{
    font-family: Arial, sans-serif;
    border-color: rgb(22, 9, 89);
    background-color: rgb(22, 9, 89);
}
.cse .gsc-control-cse,
.gsc-control-cse
{
    /* background-color: #fff; */
    /* border: 1px solid #fff; */
}

#bloco1
{
    position: relative;

    float: left;

    width: 22%;
    min-height: 150px;
    margin: 10px;

    color: white;
    background: #232e8d;
}

#bloco2
{
    position: relative;

    float: left;

    width: 23%;
    min-height: 150px;
    margin: 10px;

    color: white;
    background: #232e8d;
}

#bloco3
{
    position: relative;

    float: left;

    width: 23%;
    min-height: 150px;
    margin: 10px;

    color: white;
    background: #232e8d;
}

#bloco4
{
    position: relative;

    float: left;

    width: 23.5%;
    min-height: 150px;
    margin: 10px;

    color: white;
    background: #232e8d;
}

#tale
{
    width: 100%;
}

#tale .last_article
{
    margin-right: 0;
}

#tale article
{
    font-weight: normal;

    float: left;
    overflow: hidden;

    width: 215px;
    height: 160px;
    margin-left: 10px;
    padding-left: 8px;

    text-align: left;
    vertical-align: bottom;

    color: #000;
}

#tale article .titulocategoria
{
    font-family: 'Segoe UI', Tahoma, Helvetica, Sans-Serif;
    font-weight: normal;

    height: 29px;
    margin: 0 0 18px 0;
    padding: 0;
}

#tale article .titulocategoria .cursode  a
{
    font-family: 'wf_SegoeUILight', 'wf_SegoeUI', 'Segoe UI Light', 'Segoe WP Light', 'Segoe UI', 'Segoe', 'Segoe WP', 'Tahoma', 'Verdana', 'Arial', 'sans-serif';
    font-size: 16px;

    display: block;
}

#tale article .titulocategoria .nometitulocategoria a
{
    font-size: 23px;

    display: block;

    width: 100%;
}

#tale article .textocategoria a
{
    font-size: 14px;

    width: 100%;
    padding-top: 24px;
}

#tale article .setabaixo
{
    width: 100%;
    height: 35px;

    text-align: right;
}

#tale article .setabaixo a
{
    display: block;

    padding-right: 10px;

    text-align: right;

    outline: none;
}

#tale article .titulocategoria a,
#tale article .textocategoria a
{
    display: block;

    text-decoration: none;
}

#tale article a
{
    text-align: left;
    text-decoration: none;

    color: #fff;
    outline: none;
}

#tale article .textocursos
{
    display: block;

    height: 100%;
    padding-top: 60px;
}

#tale figure{width: 100%;}

#tale #graduacao img
{
    width: 100%;
}

#tale #posgraduacao img
{
    width: 100%;
}

#tale #extensao img
{
    width: 100%;
}

#tale #educacaodistancia img
{
    width: 100%;
}

#noticias
{
    width: 100%;
}

#topo-descricao
{
    width: 100%;
}

#noticias > h1
{
    font-size: 25px;
    padding-left: 18px;
    color: #3C3C3C;
}

.estados
{
    position: relative;
    left: 50px;

    width: 18.43%;
    height: 30px;
}

#cidades
{
    position: relative;
    left: 55px;

    height: 30px;
}

#cod_cidades
{
    position: relative;

    width: 56.43%;
    height: 30px;
    margin: 10px 0 10px 65px;
}

.bloconoticia
{
    float: left;

    max-width: 200px;
    min-height: 210px !important;
    margin: 4px 0 20px 17px;
}

#tituloNoticia
{
    font-size: 12px;
    line-height: 1.5em;

    margin: 10px 0;

    text-align: left;
}

#imagemNoticia
{
    min-height: 120px;
}

#imagemNoticia > img
{
    width: 100%;
}

#txtNoticia
{
    padding: 5px;
}

#leiamais
{
    text-align: right;
}
#leiamais > a
{
    font-weight: bold;

    color: rgb(3, 0, 75);
}

/*#estado
{
    width: 100px;
    height: 30px;
    margin: 0 10px 0 10%;
}

#cidade
{
    width: 200px;
    height: 30px;
    margin: 0 10px 10% 1%;
    }*/

    #matricula > input[type='text']
    {
        width: 54%;
        height: 36px;
        margin: 0 0 0 50px;
    }

    #matricula > p
    {
        margin: 0 0 2px 53px;

        text-align: left;
    }

    #enviar
    {
        width: 30%;
        height: 35px;
        margin: 18px 0 0 -77px;

        border: none;
        background: #bc9a5c;
    }

    #bloco2 > form > div.f-left > a
    {
        color: white;
    }

    #trabalheconosco
    {
        position: relative;
        left: -20px;

        float: left;

        width: 48%;
        min-height: 200px;

        background-image: url('../img/trabalheconosco.png');
        background-repeat: no-repeat;
    }

    #scroller
    {
        clear: both;

        width: 900px;
        margin: 0 auto;

        border: 0 solid gainsboro;
        border-radius: 14px;
    }

    #barra-acima-rodape
    {
        line-height: 40px;

        clear: both;

        background-color: #e2e2e2;
    }

    .boxrodape > li > a
    {
        line-height: 22px;

        color: white;
    }

    .boxrodape > li > h1
    {
        font-size: 16px;

        text-align: center;
    }

    #boxrodape1
    {
        float: left;

        width: 200px;
        min-height: 275px;
        margin: 10px;

        color: white;
        border-right: 1px dotted #9e9ba3;
    }

    #boxrodape2
    {
        float: left;

        width: 200px;
        min-height: 275px;
        margin: 10px;

        color: white;
        border-right: 1px dotted #9e9ba3;
    }

    #boxrodape3
    {
        font-size: 12px;

        float: left;

        width: 200px;
        min-height: 275px;
        margin: 10px;

        color: white;
        border-right: 1px dotted #9e9ba3;
    }

    #boxrodape4
    {
        display: table;

        width: 200px;
        height: 200px;
        margin: 10px;

        color: white;
    }

    #imgrodape
    {
        display: table-cell;

        text-align: center;
        vertical-align: middle;
    }

    #rodape
    {
        clear: both;

        min-height: 400px;
        margin-top: 30px;
        padding-top: 20px;

        background-color: #102d4b;
    }

    #txt-rodape
    {
        font-size: 14px;
        clear: both;
        margin-top: 7%;
        color: white;
    }

    #rodapecentraliza
    {
        width: 900px;
    }

    li
    {
        font-size: 12px;

        list-style: none;
    }

    #amazon_scroller3
    {
        left: -19px !important;
    }






    fieldset
    {
        width: 88%;
        /*margin-left: 25px;*/
        padding: 1px;
        /* border: 1px solid #ddd;*/
        -moz-border-radius: 10px;
    }

    #select
    {
        width: 420px;
        min-width: 420px;
        height: 100px;
        margin: 6px 0 0 -35px;
    }

    #box950
    {
        width: 950px;
        min-height: 440px;
    }

    .centraliza
    {
        margin: 0 auto;
    }

    .centraliza-texto
    {
        margin: 10px;

        text-align: center;
    }

    .texto-esquerda
    {
        margin-top: 5%;

        text-align: left;
    }

    .containner100
    {
        width: 100%;
        min-width: 400px;
    }

    .box950
    {
        width: 68%;
        height: auto;
    }

    .box90porcento
    {
        width: 90%;
        height: auto;
    }

    .box800
    {
        position: relative;

        width: 950px;
    }

    .box840
    {
        position: relative;
        width: 992px;
    }

    .box600
    {
        width: 600px;
        height: auto;
    }

    .box500
    {
        width: 500px;
        height: auto;
    }

    .box400
    {
        width: 400px;
        height: auto;
        padding: 5px;
    }

    .box300
    {
        width: 300px;
        height: auto;
        padding: 5px;
    }

    .box200
    {
        width: 200px;
        height: auto;
        padding: 5px;
    }

    .f-left
    {
        float: left;
    }
    .f-right
    {
        float: right;
    }

    .bloco
    {
        position: relative;

        float: left;

        width: 27%;
        min-height: 245px;
        margin: 10px;

        color: white;
        color: black;
    }

    .logo-footer{
        margin: 48px 0 0 27px;
        width: 70%;
    }

    @media screen and (min-width:0) and (max-width:750px){
        .menu-centro {
            margin: 0 auto;
            width: 100%;
        }

        #telefone 
        {
            font-size: 20px;
            /* margin: 0 auto; */
            text-align: center;
            color: rgb(23, 11, 90);
            width: 95%;
        }

        .social-bar {
            width: 60%!important;
            margin: 0 auto;
            margin-top: 8%!important;
            margin-bottom: 22%;
        }

        #logo
        {
            width: 100%;
            height: 100px;
            margin: 0 auto;
            padding: 20px 17px;
        }

        .botao-acessar {
            width: 107px!important;
            font-weight: bold;
            height: 86px;
            margin-top: -47px;
        }

        .centraliza 
        {
            margin: 0 auto;
            width: 100%!important;
        }

        #tale article
        {
            height: 280px!important;
            margin-left: 28px!important;
        }

        #login
        {
            float: left;
            clear: both;
            width: 70%;
            margin: -24px 18px 5px;
            padding: 10px;
        }

        #banner
        {
            width: 100%;
        }

        body
        {
            resize: none;
        }

        #box950
        {
            width: 83%;
            margin: 0 auto 25px 16px;
        }

        #nom
        {
            float: left;

            width: 200px !important;
        }

        #dados
        {
            width: 190px !important;
        }

        .bloco,
        #noticias
        {
            width: 100%;
        }

        .trabalhec > li
        {
            position: relative;

            width: 100px;
            height: 20px;
            margin-top: 5px;

            color: #cded4e;
        }

        fieldset
        {
            width: 90%;
        }

        ul.trabalhec > li:nth-child(1) > p:nth-child(2) > a
        {
            color: #fff;
        }

        .trabalhec
        {
            margin: 55px 0 0 30px;
        }

        #menu ul > li
        {
            display: block;

            border-bottom: 1px solid #666;
        }

        #barra-acima-rodape ul > li
        {
            display: block;

            border-bottom: 1px solid #666;
        }

        #dentro-conteudo
        {
            height: 1350px;
            margin: -8%;
            margin-top: 6%;
        }

        #bloco1
        {
            width: 100%;
            margin-top: 10px;

            text-align: center;
        }

        #bloco2
        {
            width: 100%;
            margin-top: 10px;
        }

        #bloco2 > form > div.f-left > a,
        #bloco2 > form > div.f-left > a:visited
        {
            color: white !important;
        }

        #bloco3
        {
            width: 100%;
            margin-top: 10px;

            text-align: center;
        }

        #bloco4
        {
            width: 100%;
            margin-top: 10px;

            text-align: center;
        }

        #enviar
        {
            position: relative;
            left: 70px;

            float: left;

            width: 87px;
            height: 35px;
            margin: 19px 0 16px -29px;

            border: medium none;
            background: none repeat scroll 0 0 #bc9a5c;
        }

    /*#estado
    {
        width: 80%;
        height: 30px;
        margin: 0 0 9% 2%;
    }

    #cidade
    {
        width: 80%;
        height: 30px;
        margin: 0 0 10% 2%;
        }*/

        #bloco2 > form > a > p
        {
            position: relative;

            text-align: center;

            color: white;
        }

        #matricula
        {
            float: left;

            width: 60%;
            margin-left: 15px;
        }

        #matricula > p
        {
            width: 210px;
            margin: 0 0 2px 53px;

            text-align: left;
        }

        #bloco2
        {
            text-align: center;
        }

        #matricula > input[type='text']
        {
            width: 100%;
            height: 36px;
            margin: -2px 0 0 33px;
        }

        #box950
        {
            width: 83%;
            min-height: 600px;
        }

        #select
        {
            width: 240px;
            min-width: 330px;
            height: 100px;
            margin: 6px 0 0 -35px;

            text-align: justify;
        }

        #scroller
        {
            display: none;
        }

        .estados
        {
            position: relative;
            left: 32px;

            width: 73%;
            height: 30px;
        }

        #cidades
        {
            position: relative;
            left: 32px;

            height: 30px;
        }

        #cod_cidades
        {
            position: relative;

            width: 72.43%;
            height: 30px;
            margin: 10px 0 10px 31px;
        }

        #trabalheconosco
        {
            position: relative;
            left: 10px;

            width: 96%;
            min-height: 200px;

            background-image: url('../img/trabalheconosco.png');
            background-repeat: no-repeat;
        }

        .box800
        {
            width: 100%;
        }

        .containner100
        {
            width: 100%;
        }

        #tale article
        {
            width: 318.5px;
        }

        #rodapecentraliza
        {
            width: 90%!important;
        }
    }

    @media screen and (min-width:751px) and (max-width:5000px)
    {
        .trabalhec > li
        {
            position: relative;

            width: 100px;
            height: 20px;
            margin-top: 5px;

            color: #cded4e;
        }

        ul.trabalhec > li:nth-child(1) > p:nth-child(2) > a
        {
            color: #fff;
        }

        .trabalhec
        {
            margin: 55px 0 0 30px;
        }

    /*#estado
    {
        width: 100px;
        height: 30px;
        margin: 12px 10px 8% 8%;
    }

    #cidade
    {
        width: 62%;
        height: 30px;
        margin: 0 10px 10% 1%;
        }*/

        #matricula
        {
            float: left;

            width: 60%;
            margin-left: 35px;
        }

        #matricula > p
        {
            width: 230px;
            margin: 0 0 18px 9px;

            text-align: left;
        }
    }

    /* modal form */
    .btn-close1 {
      color: #aaa;
      font-size: 30px;
      text-decoration: none;
      position: absolute;
      right: 5px;
      top: 0;
  }
  .btn-close1:hover {
      color: #919191;
  }
  .modal1{
    width: 50%;
    margin-left: 25%;
}
.modal1:before {
  content: "";
  display: none;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}
.modal1:target:before {
  display: block;
}
.modal1:target .modal-dialog1 {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  top: 20%;
}
.modal-dialog1 {
  background: #fefefe;
  border: #333 solid 1px;
  border-radius: 5px;
  margin-left: -200px;
  position: fixed;
  left: 50%;
  top: -100%;
  z-index: 11;
  width: 360px;
  -webkit-transform: translate(0, -500%);
  -ms-transform: translate(0, -500%);
  transform: translate(0, -500%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.modal-body1 {
  padding: 20px;
}
.modal-header1 {
  padding: 10px 20px;
}
.modal-header1 {
  border-bottom: #eee solid 1px;
}
.modal-header1 h2 {
  font-size: 20px;
}
#close1 {
  display: none;
}
.modal-body1 button{
    margin-bottom: 5%;
}

/*Social Bar*/
.social-bar{
    width: 100%;
    margin-top: 5%;
}

.social-bar ul li{
  float: left;
  margin-left: 1.5%;
  margin-top: 2%;
}

/*cursos*/
.grid{
    width: 30%;
    margin-left: 2%;
    margin-bottom: 2%;
    float: left;
}

.grid img{
    width: 100%
}

.grid figcaption{
    width:100%;
}

.grid h2, .grid h3{
    text-align: center;
    white-space: nowrap;
}

.grid a{
    margin-top: 5%;
    float:left;
    width: 50%
}

.more{
    margin-top: 2% !important;
    height: 30px;
    background: rgb(93, 150, 202);
    line-height: 30px;
    color: #fff !important;
}

.txt-saude h2{
    white-space: normal !important;
}

.fig-docentes{
    width: 30%;
    margin: 1% 0.75%;
    padding: 1% 0.75%;
    float: left;
    box-shadow: none;
    text-align: center;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
}

.fig-docentes:hover{
    box-shadow: 1px 1px 5px #000;
}

.fig-docentes p{
    margin-top: 5%;
    font-size: 13px;
}

.fig-docentes h4{
    color: #102d4b;
    font-size: 13px !important;
}

.link-docentes{
    color: #000 !important;
    font-weight: normal !important;
    font-size: 1em !important;
    padding: 0 !important;
}
