#menuroxo > ul > li > a {
    color: white;
}

#menu > div > ul > li {
    color: #111439;
}

#box950 {
    background-color: white;
    min-height: 600px;
    width: 70%;
    top: 21px;
    margin: 21px auto 37px;
    position: relative;
}



/*=============================================
=            PAGINA CONTATO                  =
=============================================*/
#form1 > fieldset > input {
    height: 35px;
    width: 100%;
    border-radius: 3px;
    padding: 3px;
}

#form1 > fieldset > textarea {
    width: 100%;
    height: 200px;
    border-radius: 3px;
    padding: 3px;
}

#form1 > fieldset {
    width: 40%;
    margin: 0 auto;
}

/*###====================================##*/
#form1 > fieldset {
    width: 70%;
    margin: 20px auto 60px;
    padding: 22px;
    border-radius: 10px;
}

#form1 > fieldset > input.button.blue.submit {
    background-color: rgba(0, 97, 176, 0.79);
    color: white;
}

/*###=======FIM PAG CONTATO=============##*/

