
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    font-size: 102%;
}

p {
    margin: 5px;
}

* {
    line-height: 23px;
    font-family: Verdana, Arial;
    font-size: 12px;
}

/**{border: 1px solid red;}*/

.espacamento{
    margin-bottom: 15px;
}



#resposta{
    width: 100%;
}


#containner {
    display: block;
    width: auto;
    height: auto;

    background: #b3b3b3; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjYjNiM2IzIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNDUlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2IzYjNiMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(45deg, #b3b3b3 0%, #ffffff 45%, #b3b3b3 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #b3b3b3), color-stop(45%, #ffffff), color-stop(100%, #b3b3b3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg, #b3b3b3 0%, #ffffff 45%, #b3b3b3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg, #b3b3b3 0%, #ffffff 45%, #b3b3b3 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg, #b3b3b3 0%, #ffffff 45%, #b3b3b3 100%); /* IE10+ */
    background: linear-gradient(45deg, #b3b3b3 0%, #ffffff 45%, #b3b3b3 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b3b3b3', endColorstr='#b3b3b3', GradientType=1); /* IE6-8 fallback on horizontal gradient */

}

#logo {
    width: 100%;
    max-width: 950px;
}

#titulo {
    width: 96%;
    min-height: 30px;
    color: rgb(17, 26, 55);
}

#escolha {
    width: 100%;
    height: 50px;
    margin: 0 auto;
    padding-top: 2%;
    text-align: center;
    display: table;
}

ul {
    width: 75%;
}

ul li {
    display: list-item;
    color: black;
    vertical-align: middle;
    background: none;
    border-radius: none;
    min-width: 190px;
    width: auto;
}

#ul {

    min-width: 190px;
    margin: 20px auto 0px auto;
    line-height: 40px;
}

#ul > li {
    float: left;
    margin-right: 6px;
}

/*############## Login ############################*/
#logins {
    margin: 0 auto;
    width: 72%;
    display: table;

}

#login1 {
    max-width: 193px;

    padding: 4px;
    margin: 11px auto 25px auto;
    display: flex;
}

#login2 {
    margin: 11px auto 25px auto;
    max-width: 193px;
    padding: 4px;
    display: flex;

}

#login1 > form > input[type="text"], #login2 > form > input[type="text"] {
    padding: 5px;
    width: 180px;
    margin: 5px 0 0 0;
    border: none;
    border: 1px solid rgb(218, 218, 218);
}

.submitLogin {
    background-color: rgb(255, 114, 0);
    color: white;
    border: none;
    display: block;
    width: 46%;
    min-width: 72px;
    height: 27px;
    float: right;
    margin: 5px 0 0 0;
}
/*///////////////////////////////////////////////////////////////*/

body > div > table > tbody > tr > td{
    margin-left: 18px!important;
    display: list-item!important;

}
.espacamento_padrao {
    margin: 10px 0!important;
    display: block!important;
    list-style: none!important;
}
body > div.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-dialog-buttons.ui-draggable{
font-size: 12px;
}

.box-25 {
    width: 25%;
}

.box-30 {
    width: 30%;
}

.box-40 {
    width: 40%;
}

.box-50 {
    width: 50%;
}

.box-55 {
    width: 55%;
}

.box-56 {
    width: 56%;
}

.box-60 {
    width: 60%;
}

.box-72 {
    width: 72%;

}
.box-80 {
    width: 82%;

}

.box-90 {
    width: 90%;

}

.box-95 {
    width: 95%;

}

.box-100 {
    width: 100%;
}
/*///////////////////////////////////////////////////////////////*/








.submitSelecionarCurso {
    background-color: rgb(255, 114, 0);
    color: white;
    border: none;
    display: block;
    width: auto;
    min-width: 72px;
    height: 27px;
    float: right;
    margin: 5px 19px 0px 0px;
    position: relative;
}

.segmento-Login > p {
    margin: 0;
    padding: 12px;
    text-align: center;
    background: #3c6e93;
    color: #ffffff;
    border-radius: 4px;
}

.segmento-Login {
    background: lightblue;
    margin: 0 0 0 2px;

}

#escolha-login {
    width: 72%;
    margin: 0 auto;
    display: table;
    background: #FFFFFF;
    border-bottom: 1px dotted rgb(208, 200, 200);
}

#escolha-login-Educacao {
    width: 50%;
    min-width: 300px;
    float: left;
}

#escolha-login-Demais {
    width: 50%;
    min-width: 300px;
    float: left;
}

/*##################################################*/

/*############## CADASTRO ############################*/

select {
    border: 1px solid #7A9CBC;
    -moz-box-shadow: 0 0 3px #138AE7;
    -webkit-box-shadow: 0 0 3px #138AE7;
    box-shadow: 0 0 3px #138AE7;
    border-radius: 4px;
    -moz-border-radius: 4px;
    padding: 7px;
    min-width: 250px;
    width: 98%;
    color: #333;
    margin-bottom: 10px;
    display: block;
}

#cadastro {
    color: #080808;
    width: 69.8%;
    background: #FFFFFF;
    display: flex;
    padding: 15px;
}

#cadastro-esquerda > div > div.inputCampo > span {
    color: darkorange;
    margin: 5px auto;
}

div > div.inputCampo > input[type="text"] {
    padding: 5px;
    width: 94%;
    background: white;
    border: none;
}

#cadastro-esquerda {
    float: left;
    min-width: 200px;
    max-width: 48%;
    margin-right: 23px;
    height: 100%;
    width: 50%;

}

#cadastro-direita {
    float: left;
    min-width: 200px;
    max-width: 48%;
    height: 100%;

}

#envia-cadastro {
    background-color: rgb(255, 114, 0);
    color: white;
    border: none;
    display: block;
    width: 18%;
    min-width: 80px;
    height: 40px;
    margin: 30px 0;
    float: right;
    margin-bottom: 10px;
}

#realizar-outro-cadastro {
    background-color: rgb(255, 114, 0);
    color: white;
    border: none;
    display: block;
    width: 18%;
    min-width: 140px;
    height: 40px;
    margin: 30px 0;
    float: right;
    margin-bottom: 10px;
}

#icon-check{
    float: left;
    margin: 0 5px;
}

#mostrapergunta-graduacao {
    display: none;
}

#mostrapergunta-graduacao-caso-nao {

}

/*#####################################################*/

#logo {
    margin: 0 auto;
    width: 100%;
    display: inline-grid;
    text-align: center;
}

/*CLASSES ===================================*/

.centraliza {
    margin: 0 auto;
}

.100
responsivo {
    width: 100%;
}

.centraliza-texto {
    margin: 2px;
    text-align: left;

}

/*==========================================*/

@media (max-width: 750px) {
    #escolha > div {
        width: 100%;
        display: table;
        margin: 5px 0;
    }

    #escolha > div > a {
        display: table-cell;
        vertical-align: middle;
    }

    #logo {
        margin: 5% auto;
    }

    #ul > li {
        margin-top: 5px;
        width: 100%;
    }

    #envia-cadastro {
        clear: both;
    }

    #login1, #login2 {
        width: 100%;
    }

    #login1 > form > input[type="text"], #login2 > form > input[type="text"] {
        width: 220px;
    }

    #cadastro-esquerda {
        max-width: none;
        width: 100%;

    }

    #escolha-login-Demais, #escolha-login-Educacao {
        max-width: none;
        width: 100%;
    }

    #escolha-login {
        width: 76%;
    }

    .ui-widget-overlay {
        background: #0B0A0A url("images/ui-bg_flat_0_aaaaaa_40x100.png") 50% 50% repeat-x;
        opacity: .9;
        filter: Alpha(Opacity=30);
        support: IE8;
    }
