/*-- Padrões e Reset*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

a {
    list-style: none;
    color: none !important;
    text-decoration: none;
    color: none!important;
}
#Enviar{
    width: 100%;
    height: 40px;

}


a:visited {
    color: none;
}

body {
    min-width: 400px;
    margin: 0 auto;
}

#topo > div > ul > li {
    display: inline;
    list-style: none;
    margin-right: 25px;
    font-size: 80%;
    padding-left: 22px;
    background: url("../img/seta.png") no-repeat left center;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/* change colours to suit your needs */
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

/* change colours to suit your needs */
mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input, select {
    vertical-align: middle;
}

#menuroxo {
    width: 60%;
}

#menuroxo > ul > li > a {
    color: white;
}

/*-- Tipografia e Cores*/
font-family:Verdana, Arial;

.cor_box_cinza {
    background: #666;
}

.titulo {
    color: #140958;
    background-image: url("../img/seta-titulo.png");
    background-repeat: no-repeat;
    padding: 0 0 0 0;
    position: relative;
}

.texto p {
    padding: 18px;
    text-align: left;
    width: 90%;
    color: #999;
}

.leiamais p {
    text-align: left;
    color: #CBB77A;
    width: 95px;
    float: right;
    font-weight: bold;
}


/*-- Estrutura*/
#containner {
}

/*#####################################################*/
#topo {
    background: #140958;
    color: #bc9a5c;
    line-height: 30px;
}

#link-topo {
    cursor: pointer;
}

#logo {
    padding: 20px 0;
    width: 100%;
}


/*#####################################################*/
#banner {
}

/*#####################################################*/
#menu {
    background-color: #c4c3c1;
}

#menu > div > ul > li > a {
    color: #111439;
}

#menu ul > li {
    line-height: 30px;
    display: inline-block;
    list-style: none;
    margin-right: 20px;
    font-size: 80%;
    padding-left: 20px;
    background: url("../img/seta.png") no-repeat left center;
}

#menu ul > li {
    line-height: 30px;
    display: inline-block;
    list-style: none;
    margin-right: 20px;
    font-size: 80%;
    padding-left: 20px;
    background: url("../img/seta.png") no-repeat left center;
}


/*#####################################################*/



#bloco2 {
    width: 43%;
    min-height: 860px;
    margin:  0 7px 0;
    background-color: #3C6E94;
    color: #FFF;
    position: relative;
    z-index: 1000;
    padding: 19px;
    border-radius: 6px;
}


/*##################### SELECT BOX 2  ########################*/

#usuario,#senha,#nome,#sobrenome,#email,#cidade,#pais,#rg,#cpf,#campoTelefone,#campoTelefone{
    height: 30px;
    width: 99%;
    position: relative;
    margin: 10px auto;
    text-align: left;
    padding-left: 5px;
}




#login {
    width: 90%;
    margin: 0 auto;
    padding: 10px;
}

.enviar{
    width: 100%;
    height: 40px;
    background-color: rgb(255, 114, 0);
    color: white;
}

#abre-esqueci> a{color: white;}

#bloco2 > form > a > p {
    margin: 30px 0 0 35px;
    position: relative;
    color: white;

}
#esquecimatricula{
    clear: both;
    display: none;
}



/*#####################################################*/
#scroller {
    clear: both;
}
/*#####################################################*/
#barra-acima-rodape {
    background-color: #bc9a5c;
    line-height: 40px;
    clear: both;
}
/*#####################################################*/
#rodape {
    clear: both;
    height: 400px;
    background-color: #595959;
}

#img-rodape {
    position: relative;
    padding: 40px;
}

#txt-rodape {
    font-size: 14px;
    color: white;
}

/*#####################################################*/
/*-- Estilos específicos de Seção*/



/*-- Formulários*/

fieldset {
    background: #f2f5f7;
    border: 1px solid #ddd;
    padding: 1px;
    width: 705px;
    -moz-border-radius: 10px;
}

#select {
    width: 420px;
    height: 100px;
    min-width: 420px;
    margin: 6px 0 0-35px;
}


/*-- Tabelas*/

#box950 {
    background-color: #EAEAEA;
    min-height: 930px;
    padding: 1px;
    margin: 10px auto ;
    width: 70%;
}

/*-- Classes de Uso Geral*/



.height-100 {

    height: 100%;

}

.box-25 {
    width: 25%;
}

.box-30 {
    width: 30%;
}

.box-40 {
    width: 40%;
}

.box-50 {
    width: 50%;
}

.box-55 {
    width: 55%;
}

.box-56 {
    width: 56%;
}

.box-60 {
    width: 60%;
}

.box-72 {
    width: 72%;

}
.box-80 {
    width: 82%;

}

.box-90 {
    width: 90%;

}

.box-95 {
    width: 95%;

}

.box-100 {
    width: 100%;
}

.m_r_46 {
    margin-right: 46px;
}
body > div > table > tbody > tr > td{
    margin-left: 18px!important;
    display: list-item!important;

}
.espacamento_padrao {
    margin: 10px 0!important;
    display: block!important;
    list-style: none!important;
}

.margin-15 {
display: table;
margin: 15px auto;
}




.centraliza {
    position: relative;
    margin: 0 auto;
}

.centraliza-texto {
    text-align: center;
}

.texto-esquerda {
    text-align: left;
}

.texto-direito {
    text-align: right;
}

.titulo {
    font-size: 20px;
    padding: 10px;
    margin: 10px 0;
    font-weight: 600;
    color: rgb(232, 78, 27);
}

.titulo_menor {
    font-size: 15px;
    padding: 10px;
    margin: 10px 0;
    font-weight: 600;
    color: rgb(70, 70, 70);
}












.titulo_li{
    font-size: 18px;
    font-weight: 700;
    font-family: inherit;
}

.dentro_li{
margin-left: 10px;
}

.centraliza {
    margin: 0 auto;
}

.centraliza-texto {
    margin: 10px;
    text-align: center;
}

.texto-esquerda {
    text-align: left;
    margin-top: 5%;
}

.containner100 {
    width: 100%;
    min-width: 400px;
}

.box950 {
    width: 78%;
    height: auto;
}

.box90porcento {
    width: 90%;
    height: auto;
}

.box600 {
    width: 600px;
    height: auto;
}

.box500 {
    width: 500px;
    height: auto;
}

.box400 {
    width: 400px;
    height: auto;
    padding: 5px;
}

.box300 {
    width: 300px;
    height: auto;
    padding: 5px;
}

.box200 {
    width: 200px;
    height: auto;
    padding: 5px;
}

.li{
    margin-left: 10px;
}
.f-left {
    float: left;
}
/*  RESPONSIVO*/

@media screen and (min-width: 0px) and (max-width: 900px) {
    body {
        resize: none;
    }


    #menu ul > li {
        display: block;
        border-bottom: 1px solid #666;
    }

    #barra-acima-rodape ul > li {
        display: block;
        border-bottom: 1px solid #666;
    }

    #topo >div > ul > li {
        display: block;
        border-bottom: 1px solid #666;
    }

    #dentro-conteudo {
        height: 1350px;
    }

    #bloco1 {
        margin-top: 10px;
        width: 100%;
    }

    #bloco2 {
        width: 97%;
        height: 290px;
        padding: 10px;
        margin: 40px 0 0 0;
        clear: both;
        float: right;
    }

    #bloco2login {
        width: 97%;
        height: 290px;
        padding: 10px;
        margin: 40px 0 0 0;
        clear: both;
        float: right;
    }

    #bloco3 {
        margin-top: 10%;
        width: 100%;
    }

    #bloco4 {
        margin-top: 10%;
        width: 100%;
    }

    #enviar {
        height: 35px;
        width: 93px;
        border: medium none;
        background: none repeat scroll 0% 0% #BC9A5C;
        float: left;
        left: 70px;
        position: relative;
        margin: 19px 0 16px -29px;
    }

    #estado {
        width: 80%;
        height: 30px;
        margin: 0 0 9% 2%;
    }

    #cidade {
        width: 80%;
        height: 30px;
        margin: 0 0px 10% 2%;
    }

    #bloco2 > form > a > p {
        margin: 0px 0 0 28px;
        position: relative;
        color: white;
    }

    #matricula {
        width: 60%;
        float: left;
        margin-left: 15px;
    }

    #matricula > p {
        text-align: left;
        margin: 0px 0 2px 53px;
        width: 210px;
    }

    #bloco2 {
        margin: 10px 0px 0;
        text-align: center;
    }
    #matricula > input[type='text'] {
        width: 100%;
        height: 36px;
        margin: -2px 0 0 33px;
    }

    #box950 {
        background-color: #EAEAEA;
        min-height: 600px;
        width: 78%;
    }

    #select {
        width: 240px;
        height: 100px;
        min-width: 330px;
        margin: 6px 0 0-35px;
        text-align: justify;
    }

    #scroller {
        display: none;
    }


}

@media screen and (min-width: 901px) and (max-width: 5000px) {

    #estado {
        width: 100px;
        height: 30px;
        margin: 0px 10px 8% 8%;
    }







    #enviar {
        margin: 8.6% 0 11px -15%;
        height: 35px;
        width: 23%;
        border: none;
        background: #bc9a5c;
    }

    #matricula {
        width: 60%;
        float: left;
        margin-left: 35px;
    }

    #matricula > p {
        text-align: left;
        margin: 0px 0 18px 9px;
        width: 230px;
    }
