*{


 color: rgba(87, 87, 86, 0.8);
 font-family: tahoma, sans-serif;
 list-style: none;
 z-index: 0;
 font-stretch: condensed;
}
#ascrail2000-hr > div
{
 display: none;
}
html, body
{
  background-color: #F1F5F4;
  font-size: 12px;
  height: 88%;
  margin: 0;
  text-align: justify;

}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video
{
 border: 0;
 color: inherit;
 margin: 0;
 padding: 0;
 text-decoration: none;
 vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section
{
 display: block;
}
ol, ul
{
 list-style: none;
}


blockquote, q
{
 quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after
{
 content: '';
 content: none;
}
table
{
 border-collapse: collapse;
 border-spacing: 0;
}
p
{
 line-height: 20px;
}

hr
{
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #C5C5C5, rgba(0, 0, 0, 0));
  opacity:0.65;
  -moz-opacity: 0.65;
  filter: alpha(opacity=65);
}


/*MODAL MODAL MODAL MODAL MODAL MODAL MODAL */
/*MODAL MODAL MODAL MODAL MODAL MODAL MODAL */
/*MODAL MODAL MODAL MODAL MODAL MODAL MODAL */
/*MODAL MODAL MODAL MODAL MODAL MODAL MODAL */
/*MODAL MODAL MODAL MODAL MODAL MODAL MODAL */
/*MODAL MODAL MODAL MODAL MODAL MODAL MODAL */


#mask {
  position:absolute;
  left:0;
  top:0;
  height:1780px;
  width:100%;
  z-index:9000;
  background-color:#000;
  display:none;
}

#boxes .window {
  position:absolute;
  left:0;
  top: -2.5px;
  width:600px;
  height:600px;
  display:none;
  z-index:9999;
  padding:20px;
}

#boxes #dialog {
  width: 35%;
  margin-left: 32%;
  height: 449px;
  background: url(../img/banner-modal.jpg) #fff no-repeat;
  background-size: 100%;
}

.close{display:block; text-align:right;}

.img-modal{
  width: 100%;
}

.centraliza-mapa{
  width: 100%
}


#linkindex{
  cursor: pointer;
}

.window {
  display: none;
  width: 600px;
  min-height: 476px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9900;
  /*border-radius: 15px;*/
}
#mascara{
 display:none;
 position:absolute;
 left:0;
 top:0;
 z-index:9000;
 background-color:#000;
}

.input-text{
  font: 13px verdana;
  width: 98.1%;
  height: 25px;
  color: #333;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #CCCCCC;
}

#modal_abertura{  margin: 7px 16px; padding: 0; margin-top: 0;}
#form-modal{ float: left; /*background-image: url(http://graduarte.com.br/img/Modal-600x600.png); height: 600px; margin-top: -1px;*/}
.fundo-titulo {  background: #003249;  color: white;  padding: 10px;  height: 20px; /*border-top-left-radius: 15px; border-top-right-radius: 15px;*/}
.fechar{display:block; text-align:right;}
.float-left{float: left;}
.float-right{float: right;}
.width-100{width:360px;}
.fonte-titulo{font-size: 17px; }
.hr {  background: rgba(218, 218, 213, 1);  height: 1px; margin: 0;  border: none;}

.enviar{
  height: 50px;
  margin-top: 2.4%;
  width: 100%;
  margin-top: 1%;
  font-weight: bold;
  border: none;
  background: #0f0f0f;
  color: white;
  font-size: 20px;
  font-stretch: condensed;
  font-family: tahoma;
}

.enviar:hover {background-color: #e78c24}
#foto-modal{margin:-315px 0 0 0;width:210px;}
#modal_abertura > input {margin-bottom:-5px;}
#foto-modal > img{  width: 100%;  top: 50px;  position: relative;}
.regulagem{
 /* margin-left: 182px;*/
 margin-top: 261px;
}

.select-modal
{
  height: 38px;
  margin-bottom: 0;
  font: 13px verdana;
  width: 100%;
  color: #333;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #CCCCCC;
}

/*.tamanho-mascara-modal{
  width: 100%!important;
  }*/


  .texto-noticia
  {
    width: 66%;
    float: right;
    margin-top: -23%;
  }

  /*FIM MODAL MODAL MODAL MODAL MODAL MODAL MODAL */
  /*FIM MODAL MODAL MODAL MODAL MODAL MODAL MODAL */
  /*FIM MODAL MODAL MODAL MODAL MODAL MODAL MODAL */
  /*FIM MODAL MODAL MODAL MODAL MODAL MODAL MODAL */
  /*FIM MODAL MODAL MODAL MODAL MODAL MODAL MODAL */

  .but {
    padding: 10px 20px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    border: 0px;
    display: inline-block;
    background-color: #f7931e;
    color: #fff;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Tahoma, sans-serif;
    cursor: pointer;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    border: none;
    border-bottom: 2px solid #d37b15;
    height: 60px;
    min-width: 150px;
  }

  .but-cinza {
    padding: 10px 20px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    border: 0px;
    display: inline-block;
    background-color: #828383;
    color: #fff;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Tahoma, sans-serif;
    cursor: pointer;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    border: none;
    border-bottom: 2px solid #5b5b5b;
    height: 60px;
    min-width: 150px;
  }
  /*!--box-chat--*/
  #topbar
  {
    padding: 5px 5px 5px 5px;
    visibility: hidden;
    /* border: black 1px solid; */
    width: 340px;
    font-family: Tahoma;
    position: absolute;
    /* background-color: white; */
  }
  /*!--box-chat--*/

  .espacamento-interno{
    padding: 5px 15px;
  }

  .espacamento-interno-bloco{
    padding: 10px 10px;
  }

  .espacamento-externo-r{
    margin-right: 14px;
  }

  .topico-quadrado{
   height: 13px;
   width: 13px;
   background-color: #f7931e;
   margin: 7px;
 }

 .font-padrao{
   font-size: 1.2em;
   font-family: tahoma;
   font-stretch: condensed;
 }

 .font-padrao-pequena{
   font-size: 0.9em;
   font-family: tahoma;
   line-height: 15px;
   font-stretch: condensed;
 }

 .grifo{
  text-decoration: underline;
}

.estilo-mensagem{
  font-size: 30px;
  padding-left: 23%;
  color: #333;
  font-weight: bold;
  text-align: left;
}

.checked-mensagem{
  height: 38px;
  width: 38px;
  padding: 0px 17px;
  background: url(../img/checked.png)no-repeat;
}


.fundo-cinza{
  background: #ebecec;
  padding: 1%;
}

.fundo-cinza-claro{
  background: #ebecec;
  padding: 1%;
}

.fundo-cinza-claro:hover{
  background: #e4e6e5;
  padding: 1%;
}

.cinza{
  background: #EFEFE0;
}

.branco{
  background: #FFF;
}

.bloco-cinza{
  background: #dddddc;
  font-size: 1.3em;
  padding:5px;
}

.background-cinza{
  background-color: #d0d0d0;
}

.style-icone{
  margin-top: -5px;
}

.box-style-icone{
  width: 30%;
}

.style-hora{
  font-size: 1.3em;
  margin-top: -17px;
  text-align: left;
}

.style-duracao{
  font-size: 1.3em;
  margin-top: -17px;
  text-align: left;
}

.box-carga-duracao
{
 width: 25%;
}

.box-taxa-valores
{
 width: 55%;
}

.box-botao-valores
{
  width: 45%
}

.box-taxa-investimento
{
 width: 80%;
}

.caixa-texto-grade{
  width: 60%;
}

.font-taxa-detalhes{
  font-size: 18px;
  text-align: left;
  color: #000;
  line-height: 0.9;
}

.font-taxa-p{
 color: #791315;
 font-size: 1em;
 text-decoration: line-through;
}

.espacamento_taxa{
  padding: 0 2%;
}

.alinha-texto-taxa{
  margin-top: 10px;
}

.cinza-escuro{
  background: #8a8989;
}

.bloco-cinza-escuro{
  background: #8a8989;
  font-size: 1.3em;
  padding:5px;
  color: #fff;
}

.titulo-h3{
 font-size: 1.2em;
 font-family: tahoma;
 color: #484848;
 text-align: left;
 font-stretch: condensed;
}

.titulo-grande{
 font-size: 3.2em;
 font-family: tahoma;
 color: #484848;
 text-align: left;
 font-stretch: condensed;
}

.titulo-conheceu{
 font-size: 1.2em;
 font-family: tahoma;
 font-stretch: condensed;
 color: #484848;
 text-align: left;
 line-height: 34px;
}

.required{
 border: 1px solid red;
}

.fundo-branco{
  background: #fff;
  margin-top: 2%;
  margin-bottom: 2%;
}

.centraliza-img{
  margin-left: 5%;
  margin-top: 8%;
}

#regulamento {
 width:640px;
 display:none;
 padding:50px;
 overflow: auto;
 position: relative;
 height: 220px;
 margin-left: 95px;
 margin-bottom: 45px;
 margin-top: 5px;
 background: #f8f8f8;
 border: 4px
 solid #c4d5dc;
 border-radius: 5px;
}


#containner_header_paginas{
 background-color: white;
 border-bottom: 1px solid #DEE1E2;
 display: table;
 padding: 10px 0 15px 0;
}

#header_sem_texto{
  background-color: white;
  border-bottom: 1px solid #DEE1E2;
  display: table;
}

.box-indexacao{
  width: 20%;
}

#conteinner_tudo
{
 min-height: 100%;
 margin: 0 auto;
 width: 100%;
}

#conteinner_detalhes
{
 min-height: 100%;
 margin: -5px;
 width: 100%;
 background: #efeeee;
 border-top: 1px solid #dad9d9;
}


.containner_breadcrumbs{
  background: white;

  line-height: 40px;
}



/*MIGALHAS DE PÃƒO*/
.breadcrumb{



}



.breadcrumb > a {


  max-width:100px;
  margin-right: 3px;


}

.breadcrumb > a:hover {
 color: orange;

}




#containner_topo
{
 width: 100%;
}

#containner_login
{
 display: table;
 float: right;
 /*margin-left: 7%;*/
 margin-top: 4.6%;
 max-width: 587px;
 width: 587px;
}

.texto-campus-login{
  text-align: left;
  text-transform: uppercase;
  margin-left: 14.5%;
  font-weight: bold;
}

#containner_menu
{
 background: #f7931e;
 display: table;
}
#containner_logo
{
 display: table;
 height: 120px;
 position: relative;
 width: 290px;
}
#containner_banner
{
 height: auto;
 line-height: 30px;
 text-align: left;
 width: 100%;
}
#containner_botoes
{
}
#containner_conteudo
{
  /*margin: 5px auto;*/
  margin: auto;
  float: left;
  min-height: 40%;
  /*padding: 0 0 2%;*/
}
#containner_texto_e_foto
{
 margin: 15px 0;
}
#containner_funcionarios
{
 margin: 15px 0;
 min-height: 200px;
}
#containner-accordion
{
 margin: 15px auto;
}
#containner_rodape {
  background: #333;
  border-top: 1px solid rgb(169, 169, 169);
  color: #C5C5C5;
  position: relative;
  width: 100%;
  clear: both;
}

.fundo-logos{
  background-color: #3a3a3a;
  height: 110px;
}

.img-gam-rodape{
  background: url(../img/logo-footer/gam-neg.png) no-repeat;
  width:100px;
  height:31px;
}

.img-gam-rodape:hover {
  background: url(../img/logo-footer/gam.png) no-repeat;
  width:100px;
  height:31px;
}

.img-sismart-rodape{
  background: url(../img/logo-footer/sismart-neg.png) no-repeat;
  width:100px;
  height:31px;
}

.img-sismart-rodape:hover {
  background: url(../img/logo-footer/sismart.png) no-repeat;
  width:100px;
  height:31px;
}

.img-cotemar-rodape{
  background: url(../img/logo-footer/cotemar-neg.png) no-repeat;
  width:100px;
  height:31px;
}

.img-cotemar-rodape:hover {
  background: url(../img/logo-footer/cotemar.png) no-repeat;
  width:100px;
  height:31px;
}

.img-famart-rodape{
  background: url(../img/logo-footer/famart-neg.png) no-repeat;
  width:100px;
  height:31px;
}

.img-famart-rodape:hover {
  background: url(../img/logo-footer/famart.png) no-repeat;
  width:100px;
  height:31px;
}

.img-credenciarte-rodape{
  background: url(../img/logo-footer/credenciarte-neg.png) no-repeat;
  width:100px;
  height:31px;
}

.img-credenciarte-rodape:hover {
  background: url(../img/logo-footer/credenciarte.png) no-repeat;
  width:100px;
  height:31px;
}

.img-fjm-rodape{
  background: url(../img/logo-footer/fjm-neg.png) no-repeat;
  width:100px;
  height:31px;
}

.img-fjm-rodape:hover {
  background: url(../img/logo-footer/fjm.png) no-repeat;
  width:100px;
  height:31px;
}

#topo
{
 height: 100%;
}
#slides
{
 height: 500px;
 min-width: 200px;
 width: 800px;
}
#logo
{
 display: table-cell;
 height: 77px;
 position: relative;
 text-align: center;
 vertical-align: middle;
 width: 100%;
}
#logo > img
{
 width: 100%;
}
#login > ul li {
  display: inline-block;
  list-style: none;

  margin: 2px;
}
#login > ul li ul li
{
 display: inline;
 list-style: none;
}
#login
{
 color: black;
 color: rgba(87, 87, 86, 1);
 display: table-cell;
 height: 70px;
 text-align: center;
 vertical-align: middle;
 width: 200px;
}
#login > ul
{
 height: 55px;
}
#login > ul > li
{
 display: inline-block;
 float: left;
 list-style: none;
 margin-right: 10px;
 min-width: 107px;
 font-size: 1.2rem;
}

#login > ul > li > a
{
 display: table-cell;
 height: 51px;
 text-align: center;
 vertical-align: middle;
 width: 110px;
}
#login > ul > li:hover > a
{
 border-bottom: 1px solid rgb(232, 78, 27);
 color: rgb(232, 78, 27);
}
#login > ul > li:hover > a
{
 display: table-cell;
 height: 50px;
 o-transition: all 0.09s;
 transition: all 0.09s;
 vertical-align: middle;
 webkit-transition: all 0.09s;
 width: 110px;
}
#login > ul > li > ul
{
 background: white;
 display: none;
 height: auto;
 position: absolute;
 text-align: left;
 width: 200px;
 z-index: 3;
}
#login > ul > li > ul > li > a
{
 color: rgb(110, 102, 102);
 display: block;
 height: 20px;
 margin: 15px 0px;
 margin-left: 13px;
 width: 100%;
}

#login > ul > form > li > input[type="text"],input[type="password"]{
 border: none;
 background-color: #FFFFFF;
 height: 22px;
 padding-left: 3px;
}
#login > ul > form > li:nth-child(3) > input{
 background-image: url('/img/enviar.png');
 background-size:  100% 100%;
 width: 22px!important;
 height:22px;
 border: none;
}
.ico_login
{
 background-image: url('../img/marcador_credenciarte_preto.png');
 background-repeat: no-repeat;
 padding-left: 25px;
}
#login > ul > li > ul > li:hover > a
{
 color: rgb(232, 78, 27);
}
#login > ul > li:hover > ul
{
 display: block;
}

.sub-menu {
  margin: 0;
  padding: 0;
}
.clearfix:after{
  content: '.';
  display: block;
  clear: both;
  height: 0;
  line-height: 0;
  font-size: 0;
  visibility: hidden;
  overflow: hidden;
}
.menu,
.sub-menu {
  list-style: none;
}
.sub-menu {
  background: #444;
}
.menu a {
  text-decoration: none;
  display: block;
}
.menu li {
  position: relative;
}
.menu > li {
  float: left;
}
.sub-menu {
  display: none;
  position: absolute;
  min-width: 150px;
}
.sub-menu li:hover {
  background: #555;
}
.sub-menu .sub-menu {
  top: 0;
  left: 100%;
}

#menu {
  z-index: 1;

  color: white;
  font-size: 1.1rem;
  font-weight: 600;
  height: 100%;
  text-align: center;

}
#menu > ul
{
 display: table;
}
#menu > ul > li
{
 float: left;
 list-style: none;
 margin-right: 17.4px;
}
#menu > ul > li > a
{
 position: relative;
 display: table-cell;
 height: 50px;
 padding: 0 6px;
 text-align: center;
 vertical-align: middle;
 width: 100%;
}
#menu > ul > li:hover > a
{
 background: #736969;
 color: white;
 display: table-cell;
 vertical-align: middle;
 height: 50px;
 o-transition: all 0.09s;
 transition: all 0.09s;
 webkit-transition: all 0.09s;
 width: 100%;
}

#menu  > ul  > li >  ul
{
 background: #efeeee;
 display: none;
 height: auto;
 position: absolute;
 text-align: left;
 width: 200px;
 font-weight: normal;
}
#menu > ul>  li>  ul >  li
{
 display: inline;
 list-style: none;
}
#menu >ul> li >ul >li> a
{

 color: rgb(110, 102, 102);
 display: table-cell;
 vertical-align: middle;
 height: 30px;
 margin: 15px 0px;
 padding: 3px;
 width: 200px;
 font-size: 0.8em;
}

#menu> ul >li> ul> li:hover > a
{

 background-color: #F3B84D;
 /*color: rgb(232, 78, 27);*/
 color: white;
}
#menu >ul> li:hover >ul {
  display: block;
  position: absolute;
  left: 0;
  top: 50px;
}

.ico_menu
{
 background-image: url('../img/marcador_credenciarte_preto.png');
 background-repeat: no-repeat;
 padding-left: 25px;
}


.sub-menu {
  margin: 0;
  padding: 0;
}
.clearfix:after{
  content: '.';
  display: block;
  clear: both;
  height: 0;
  line-height: 0;
  font-size: 0;
  visibility: hidden;
  overflow: hidden;
}

.menu,
.sub-menu {
  list-style: none;
}
.sub-menu {
  background: #444;
}
.menu a {
  text-decoration: none;
  display: block;
}
.menu li {
  position: relative;
}
.menu > li {
  float: left;
}
.sub-menu {
  display: none;
  position: absolute;
  min-width: 150px;
}
.sub-menu li:hover {
  background: #555;
}
.sub-menu .sub-menu {
  top: 0;
  left: 100%;
}


#banner
{
 height: 100%;
}
.cor_tab1{
  background-color: #C06000;
}
.cor_tab2{
  background-color:#DC6D00 ;
}
.cor_tab3{
  background-color:#FF7F00 ;
}
.cor_tab4{
  background-color:#FE8F1C;
}
.cor_tab5{
  background-color: #FFA626 ;
}
.cor_tab6{
  background-color:#ffb140;
}
.cor_tab7{
  background-color:#ffbd5f;
}

#tabs
{

 color: white;
 font-weight: 600;
}
#tabs > ul > li
{
 background-color: #f7931e;
 display: table;
 float: left;
 height: 70px;
 width: 33.33%;
}

#tabs > ul > li > a{
 position: relative;

}
#tabs > ul > li:hover
{
 background-color: rgba(87, 87, 86, 1);
}

#tabs > ul > li > img{
  float:left;
  margin-right:5px;
  padding:0 2px 0 5px;
}

#tabs-index
{

 color: white;
 font-weight: 600;
}

#tabs-index > ul > li
{
 background-color: #f7931e;
 display: table;
 float: left;
 height: 70px;
 width: 33.33%;
}

#tabs-index > ul > li > a{
 position: relative;

}
#tabs-index > ul > li:hover
{
 background-color: rgba(87, 87, 86, 1);
}


#tabs-metodologia
{
 color: white;
 font-weight: 600;
}

#tabs-metodologia > ul > li
{
 background-color: #f7931e;
 display: table;
 float: left;
 height: 70px;
 width: 33.33%;
}

#tabs-metodologia > ul > li > a{
 position: relative;

}
#tabs-metodologia > ul > li:hover
{
 background-color: rgba(87, 87, 86, 1);
}

.titulo_tabs
{
 background: gray;
 color: #323232;
 font-size: 15px;
 text-align: center;
}

.tab_ativo
{
 background-color: rgba(87, 87, 86, 1);
}

.tab_ativo:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 48%;
  z-index: 1000;
  border-top: 10px solid rgba(87, 87, 86, 1);;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  margin-left: -8px;
  z-index: 9999;
}

.link_ativo
{
 font-weight: bold;
}

#tabs > ul > li > a
{
 display: table-cell;
 height: 100%;
 padding: 4px;
 text-align: center;
 vertical-align: middle;
 width: 100%;
}



#tabs-index > ul > li > a
{
 display: table-cell;
 height: 100%;
 padding: 4px;
 text-align: center;
 vertical-align: middle;
 width: 100%;
}

#tabs-metodologia > ul > li > a
{
 display: table-cell;
 height: 100%;
 padding: 4px;
 text-align: center;
 vertical-align: middle;
 width: 100%;
}

/* tabs segunda graduaÃ§Ã£o */

#tabs-unica
{

 color: white;
 font-family: tahoma;
 font-weight: 600;
 font-stretch: condensed;
}
#tabs-unica > ul > li
{
 background-color: #f7931e;
 display: table;
 float: left;
 height: 70px;
 width: 100%;
}

#tabs-unica > ul > li > a{
 position: relative;

}
#tabs-unica > ul > li:hover
{
 background-color: rgba(87, 87, 86, 1);
}


.titulo_tabs_unica
{
 background: gray;
 color: #323232;
 font-size: 15px;
 text-align: center;
}

.tab_ativo_unica
{
 background-color: rgba(87, 87, 86, 1);
}
#tabs-unica > ul > li > a
{
 display: table-cell;
 height: 100%;
 padding: 20px;
 text-align: left;
 vertical-align: middle;
 width: 100%;
 font-weight: bold;
 text-transform: uppercase;
 font-size: 18px;
}

#seta{
  top: -17px;
  margin-left: 5%;
  position: relative;
  z-index: 9999;
}

.span_tabs_titulo
{
 text-transform:none;
 font-weight: normal;
}

.c_tabs_content
{
 background-color: #DDDDDD;
 color: #636161;
 min-height: 347px;
 /*padding: 0px 0px 20px;*/
 width: 99.99%;
}
.containner_titulo_tab
{
 color: #323232;
 float: left;
 margin-bottom: 10px;
 width: 100%;
}
.titulo_tab
{
 height: 100%;
 text-align: center;
 text-align: left;
 vertical-align: middle;
 width: 100%;
}
.texto_tab
{
 display: table;
 float: right;
 width: 100%;
}
.texto_tab p
{
 display: table-cell;
 text-align: left;
 vertical-align: middle;
}
.texto_tab:hover
{
 o-transition: all .3s;
 transition: all .3s;
 webkit-transition: all .3s;
}
.efeito_tab_ativo
{
 background-color: #fff;
}

.icone_tab_curso
{
  background-color: #8f2b46;
  color: white;
  display: table;
  float: left;
  height: 16px;
  line-height: 20px;
  margin: 2px;
  margin-top: 11px;
  min-width: 54px;
  text-align: center;
  vertical-align: middle;
  width: 70px;
  border-radius: 3px;
}
.titulo_tab_curso
{
 display: table;
 float: left;
 height: 45px;
 width: 78%;
}
.titulo_tab_curso > p
{
 display: table-cell;
 padding-left: 15px;
 vertical-align: middle;
 font-weight: 600;
 color: #4b4a4b;
 text-transform: uppercase;
}


#moca-index{
 margin: -3px 30px;
}

#box_seja_unidade
{
 margin-bottom: -325px;
 top: -340px;
 height: 100%;
 position: relative;
 right: -40px;
 width: 357px;
}

#seja_unidade{
 background-color: #DDDDDD;
 min-height: 145px;
}

#conteudo
{
  position: relative;
  top: 0;
  display: table;
  height: 100%;
  padding-bottom: 30px;

}
.box_info_basicas
{
 float: left;
 margin: 45px 20px;
 min-height: 160px;
 min-width: 250px;
 width: 29.3%;
}
#conteudo > div > div.paragrafo > p
{
 text-align: justify !important;
}
#conteudo > div > div.paragrafo
{
 color: rgba(87, 87, 86, 1);
 padding: 0;
}
#texto_quem_somos
{
 float: left;
 width: 60%;
}
#imagem_quem_somos
{
 padding-top: 23px;
 width: 35%;
}
#imagem_quem_somos > img
{
 box-shadow: 11px -9px 41px -29px;
 height: 335px;
 margin-left: 5px;
}
#imagem_diferencial
{
 height: 510px;
 padding-top: 23px;
 width: 35%;
}
#imagem_diferencial > img
{
 box-shadow: 11px -9px 41px -29px;
 margin-left: 5px;
}
#equipe
{
 background: #f7f7f7;
 border-radius: 3px;
 box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
}
.funcionario
{
 background-color: #DCDFE5;
 border: 1px solid #D1D1D1;
 border-radius: -5px;
 float: left;
 margin: 10px;
 min-height: 280px;
 min-width: 216px;
 width: 24.76%;
}
.foto_funcionario
{
 margin: 5px auto;
 text-align: center;
}
.funcao_funcionario
{
 font-size: 15px;
 font-weight: bolder;
 margin: 5px auto;
}
.nome_funcionario
{
 font-size: 14px;
 line-height: 20px;
 margin: 5px auto;
}
#rodape
{
 display: table;
 vertical-align: middle;
}
.box_rodape
{
 font-size: 13px;

}
.texto_box_rodape
{
 font-family: tahoma;
 font-stretch: condensed;
 color: #c5c5c5;
}
.texto_box_rodape:hover
{
 color: #f7931e;
 -webkit-transition: all .2s;
 -o-transition: all .2s;
 transition: all .2s;
}
.texto_quadro
{
 font-family: tahoma;
 font-stretch: condensed;
}
.texto_quadro:hover
{
 color: #f7931e;
 -webkit-transition: all .2s;
 -o-transition: all .2s;
 transition: all .2s;
}
#borda_rodape
{
 background-color: #605E5E;
 height: 10px;
}
#ascrail2000 > div
{
 border: none !important;
}

.font-preco-antigo{
 padding: 0 8px;
 color: #791315;
 font-size: 1.5em;
 text-decoration: line-through;
 margin-left: 20px;
}

.font-preco-novo{
 padding: 0 4px;
 color: #484848;
 font-size: 1.5em;
}

.font-field{
 font-size: 1.2em;
 font-weight: 600;
 font-family: tahoma;
 font-stretch: condensed;
 color: #484848;
 text-align: left;
}

.font-regulamento{
 color: #791315;
 font-size: 1.3em;
 font-weight: bold;
 text-decoration: underline;
}

.campos{
 width: 100%;
 height: 35px;
 font-size: 16px;
 font-family: tahoma;
 font-stretch: condensed;
}

.inputMinusculas{
  text-transform:lowercase;
}

.campos-select{
 width: 100%;
 height: 41px;
 font-size: 16px;
 font-family: tahoma;
 font-stretch: condensed;
}

.linha{
 height: 2px;
 background-image: linear-gradient(to bottom, white, gray);
 margin: 10px 0;
}

.linha-noticias{
 height: 2px;
 background-image: linear-gradient(to bottom, white, gray);
 margin: 18px 0;
}

.linha-footer{
  height: 0.5px;
  background-image: linear-gradient(to bottom, white, gray 0);
  margin: 9px 0 20px;
}

.botao-inscricao
{
 display: inline-block;
 background-color: #f7931e;
 padding-top: -76px;
 color: #fff;
 text-decoration: none;
 box-sizing: border-box;
 font-family: Tahoma, sans-serif;
 font-size: 14px;
 border: 0px;
 cursor: pointer;
 width: 100%;
 text-align: center;
 font-weight: bold;
 font-size: 17px;
 border: none;
 border-bottom: 11px solid #f7931e;
 height: 71px;
 min-width: 150px;

}

.texto-botao-inscricao
{
  width: 85%;
  margin-left: 60px;
  margin-top: -4px;
  font-size: 1.4em;
}

.botao-escolha-curso
{
  display: inline-block;
  background-color: #f7931e;
  padding-top: -76px;
  color: #fff;
  text-decoration: none;
  box-sizing: border-box;
  font-family: Tahoma, sans-serif;
  font-size: 14px;
  border: 0px;
  cursor: pointer;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 25px;
  border: none;
  border-bottom: 2px solid #d37b15;
  height: 71px;
  min-width: 150px;
}

.texto-escolha-curso
{
  width: 85%;
  margin-left: 60px;
  margin-top: -4px;
  font-size: 1.4em;
}

.botao-conheca-cursos
{
  display: inline-block;
  background-color: #f7931e;
  color: #fff;
  text-decoration: none;
  box-sizing: border-box;
  font-family: Tahoma, sans-serif;
  font-size: 14px;
  border: 0px;
  cursor: pointer;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 17px;
  border: none;
  border-bottom: 2px solid #e7830e;
  height: 60px;
  min-width: 150px;

}

.botao-pagseguro
{
 display: inline-block;
 padding-top: -76px;
 margin-bottom: 25px;
 border: none;
 margin-left: 77%;
 padding: 0;
}

.texto-botao-pagseguro
{
  font-size: 0.7em;
  padding-left: 3%;
}

.logo-pagseguro{
  background: url(../img/logo-pagseguro.png) no-repeat;
  padding: 27px 98px 28px;
}

.ico-inscricao
{
  background: url("../img/icones/inscricao-icon-g.png") no-repeat left center;
  padding-left: 355px;
  width: 100%;
  padding-bottom: 37px;
}

.botao-inscricao-p
{
 display: inline-block;
 background-color: #f7931e;
 padding-top: -76px;
 color: #fff;
 text-decoration: none;
 box-sizing: border-box;
 font-family: Tahoma, sans-serif;
 cursor: pointer;
 width: 100%;
 text-align: center;
 font-weight: bold;
 font-size: 17px;
 border: none;
 border-bottom: 2px solid #d37b15;
 height: 60px;
 min-width: 150px;
}

.texto-botao-inscricao-p
{
 /*width: 85%;*/
 margin-left: 30px;
 margin-top: -13px;
 font-size: 1em;
}

.ico-inscricao-p
{
  background: url("../img/icones/inscricao-icon-p.png") no-repeat left center;
  padding-left: 355px;
  width: 100%;
  padding-bottom: 37px;
}

.metade-direita{
  padding: 35px;
}

.campo-obrigatorio{
 color: #ef392b;
}

.lar-textarea{
 width:102%;
}

.link-noticias{
 color: #5d5d5d;
}

.link-noticias:hover{
 color: #f7931e;
}

/*PAGINAÃ‡ÃƒO*/

#pages {
  padding: 8px 0 60px 0;
}
#pages ul {
  list-style-type: none;
}
#pages li {
  float: left;
  display: inline;
  margin: 0 5px 0 0;
  display: block;
}
#pages li a {
  color: #f7931e;
  padding: 8px;
  border: 1px solid #ddd;
  text-decoration: none;
  float: left;
}
#pages li a:hover {
  color: #f7931e;
  background: #fde1c0;
  border: 1px solid #f7931e;
}
#pages li.nolink {
  color: #CCC;
  border: 1px solid #F3F3F3;
  padding: 8px;
}
#pages li.current {
  color: #FFF;
  border: 1px solid #f7931e;
  padding: 8px;
  background: #f7931e;
}


/* CLASSES FORMULÃRIO DE MATRÃCULA*/

.box-5-form{
 width: 5%;
}

.box-10-form{
 width: 10%;
}

.box-15-form{
 width: 15%;
}

.box-20-form
{
 width: 20%;
}

.box-25-form
{
 width: 25%;
}

.box-30-form;
{
 width: 30%;
}

.box-35-form
{
 width: 35%;
}

.box-40-form
{
 width: 40%;
}

.box-45-form
{
 width: 45%;
}

.box-50-form
{
 width: 50%;
}

.box-70-form
{
 width: 70%;
}

.box-80-form{
 width: 80%;
}

.box-83-form{
 width: 83%;
}

.box-94-form
{
 width: 94%;
}

.box-95-form
{
 width: 95%;
}

.box-97-form
{
 width: 97%;
}

.box-98-form{
 width: 98.4%;
};


/* CLASSES UNIVERSAIS*/

.box-10
{
 width: 18%;
}

.box-18
{
 width: 18%;
}

.box-20
{
 width: 20%;
}

.box-25
{
 width: 25%;
}

.box-30
{
 width: 30%;
}

.box-35
{
 width: 35%;
}

.box-30-fixo
{
 widows: 200px;
}
.box-30-fixo > img
{
 min-width: 100px;
 width: 100%;
}
.box-40
{
 width: 40%;
}

.box-45
{
 width: 45%;
}

.box-50
{
 width: 50%;
}

.box-55
{
 width: 55%;
}
.box-56
{
 width: 56%;
}
.box-60
{
 width: 60%;
 min-width: 347px;
}
.box-60-segunda-graduacao
{
 width: 80%;
 min-width: 347px;
}
.box-70
{
 width: 70%;
}

.box-72
{
 max-width: 1000px;
 width: 74%;
}
.box-80
{
 width: 80%;
}

.box-85
{
 width: 85%;
}
.box-90
{
 width: 90%;
}

.box-95
{
 width: 95%;
}

.box-98
{
 width: 98%;
}

.box-100
{
 width: 100%;
}

.box-info{
  width: 20%;
}
.box-100-galeria
{
 width: 100%;
 align-items: center;
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: center;
 padding: 2% 0 2% 0;
}
.heigth_94
{
 height: 94% !important;
}
.height-100
{
 height: 100%;
}

/* BACKGROUNDS -------------*/

.background_cinza_c_s {
 background-color: #dddddd;
 float: left;
 margin-top: -39px;
 padding: 1% 0 2% 0px;
 width: 99.5%;
}

.background_cinza_padrao {
 background-color: #dddddd;
 float: left;
 padding: 1% 0 2% 0px;
 width: 99%;
}

/*------------------------*/


.d_none
{
 display: none;
}
.relative
{
 position: relative;
}
.centraliza
{
 margin: 0 auto;
 position: relative;
}

.centraliza-box{
  margin: 0 auto;
  position: relative;
}

.f-left
{
 float: left;
}
.f-rigth
{
 float: right;
}
.clear-both
{
 clear: both;
}
.clear
{
 clear: both;
}
.espacamento_padrao
{
 margin: 10px 0;
}
.espacamento_footer
{
  margin: 0 2.85% 18px;
}
.m_r_46
{
 margin-right: 46px;
}
.margin-top
{
 margin-top: 40px;
}
.margin-botao
{
 margin-left: -96px;
}

.margin-right-10
{
 margin-right: 10px;
}

.margin-top-18
{
 margin-top: 18px;
}

.margin-15
{
 display: table;
 margin: 15px auto;
}

.margin-30-pagamento
{
 margin: 30px 0 0 0;
}

.margin-30
{
 margin: 0 0 15px 15px;
}

.margin-30-bloco
{
 margin: 30px auto;
}

.margin-40
{
 margin: 40px auto;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.margin-bottom-50{
  margin-bottom: 50px;
}

.margin-bottom-80
{
  margin-bottom: 80px;
}

.margin-top-50{
  margin-top: -50px;
}

.padding-5
{
 padding: 5px;
}
.padding-10
{
 padding: 10px 0px ;
}

.padding-15
{
 padding: 15px ;
}

.padding-img-noticia{
  padding: 80px 33px 3px;
}
.paragrafo
{
 font-size: 14px;
 line-height: 20px;
 text-align: justify;
}
.paragrafo-detalhes
{
 font-size: 14px;
 text-align: justify;
 margin-bottom: 5px;
}

.paragrafo-tabela
{
 font-size: 14px;
 line-height: 21px;
 text-align: justify;
}
.espacamento-tabela
{
 padding: 5px;
 line-height: 20px;
}
.centraliza-texto
{
 text-align: center;
}
.texto-esquerda
{
 text-align: left;
}
.texto-direito
{
 text-align: right;
}

.font-weight-normal{
 font-weight: normal;
}

.titulo
{
 color: #636161;
 font-size: 20px;
 font-weight: lighter;
 padding: 14px 0px;
}

.titulo_menor
{
 color: #636161;
 font-size: 15px;
 font-weight: 600;
 margin: 5px 0;
 padding: 10px 0px;
 font-family: Tahoma;
 font-stretch: condensed;
 text-align: left;
}
.titulo_menor_laranja
{
 color: rgb(232, 82, 29);
 font-size: 15px;
 font-weight: 600;
 margin: 20px 0;
}
.fonte_12
{
 font-size: 12px;
}
.link_accordion
{
 cursor: pointer;
}
.link_accordion_ativo
{
 color: rgb(232, 78, 27);
}
.position-absolute
{
 position: absolute;
}
.position-fixed
{
 position: fixed;
}
.botao
{
 background: #f7931e;
 border: none;
 border-bottom: 2px solid hsl(39, 95%, 45%);
 color: #ffffff;
 cursor: pointer;
 font-weight: bold;
 height: 70px;
 min-width: 65px;
 padding: 5px;
 text-align: center;
 width: 100%;
 margin-bottom: 10px;
}

.botao-cadastro
{
 background: #8f2b46;
 border: none;
 border-bottom: 2px solid #80213a;
 color: #ffffff;
 cursor: pointer;
 font-weight: bold;
 font-size: 2em;
 height: 70px;
 min-width: 65px;
 padding: 5px;
 text-align: center;
 width: 99.7%;
 margin-bottom: 10px;
}

.botao-unidade
{
 background: #f7931e;
 border: none;
 border-bottom: 2px solid hsl(39, 95%, 45%);
 color: #ffffff;
 cursor: pointer;
 font-weight: bold;
 height: 70px;
 min-width: 150px;
 padding: 5px;
 text-align: center;
 width: 100%;
 text-transform: uppercase;
 font-size: 20px;
 margin-top: 10%;
}

#borda-header{
 border: 1px solid #000;
 width: 100%;

}

.link
{
 display: inherit;
 font-weight: bold;
 text-shadow: 0px 0px 9px rgba(255, 255, 255, 0.42);
 vertical-align: middle;
}
.link:hover
{
 background-color: rgba(255, 255, 255, 0.42);
 o-transition: linear .2s;
 transition: linear .2s;
 webkit-transition: linear .2s;
}
.destaque-link-azul
{
 color: #508cc5;
 text-align: center;
 text-decoration: underline;
 width: 100px;
}
.destaque-link-azul:hover
{
 color: black;
 text-align: center;
 text-decoration: underline;
 width: 100px;
}
.sub-itens
{
 margin-left: 3%;
 padding: 10px;
}
.titulo_rodape
{
 color: #C5C5C5;
 padding: 12px 0px;
 text-align: left;
}
.li
{
 margin-left: 25px;
}
.ico_laranja
{
 background-image: url('../img/marcador_credenciarte_laranja.png');
 background-repeat: no-repeat;
 padding-left: 25px;
}
.ico_preto
{
 background-image: url('../img/marcador_credenciarte_preto.png');
 background-repeat: no-repeat;
 padding-left: 25px;
}
.background_resposta
{
 background: #FF7849;
}

.ico-m
{
 height: 24px;
 padding-left: 10px;
 text-decoration: none;
 width: 24px;
}
.ico_fazemos
{
 background: url("../img/icones/icone_credenciarte_fazemos_.png") no-repeat left center;
}
.ico_grupo
{
 background: url("../img/icones/icone_credenciarte_grupo_.png") no-repeat left center;
}
.ico_proposta
{
 background: url("../img/icones/icone_credenciarte_proposta_.png") no-repeat left center;
}
.ico_redeFACE
{
 background: url("../img/icones/icone_redeFACE.png") no-repeat left center;
}
.ico_redeIN
{
 background: url("../img/icones/icone_redeIN.png") no-repeat left center;
}
.ico_paginainicial
{
 background: url("../img/ico_paginainicial.png") no-repeat left center;
}
.ico_servicos_b
{
 background: url("../img/ico_servicos_b.png") no-repeat left center;
}
.ico_diferencial_b
{
 background: url("../img/ico_diferencial_b.png") no-repeat left center;
}
.ico_contato_b
{
 background: url("../img/ico_contato_b.png") no-repeat left center;
}
.ico
{
 background-size: 30px 30px;
 height: 30px;
 margin-top: -6px;
 padding-left: 12px;
 text-decoration: none;
 width: 30px;
}
.ico_gestores
{
 background: url("../img/ico_gestores.png") no-repeat left center;
}
.ico_quemsomos
{
 background: url("../img/ico_quemsomos.png") no-repeat left center;
}
.ico_diferencial
{
 background: url("../img/ico_diferencial.png") no-repeat left center;
}
.ico_servicos
{
 background: url("../img/ico_servicos.png") no-repeat left center;
}
.saiba_mais
{
 border: 1px solid white;
 border-radius: 5px;
 float: right;
 font-weight: bold;
 padding: 5px;
}
.saiba_mais:hover
{
 border: 1px solid rgb(232, 82, 29);
 color: rgb(232, 82, 29);
 o-transition: all .2s;
 text-shadow: 0px 0px 9px rgba(255, 255, 255, 0.42);
 transition: all .2s;
 webkit-transition: all .2s;
}

.window
{

 border-radius: 10px;
 display: none;
 left: 0;
 min-height: 210px;
 padding: 10px;
 position: absolute;
 top: 0;
 width: 60%;
 z-index: 9900;
}
#mascara
{
 background-color: #000;
 display: none;
 left: 0;
 position: absolute;
 top: 0;
 z-index: 9000;
}
.fechar
{
 display: block;
 text-align: right;
}
.formulario{
  
}
#formulario_contato
{
 background-image: url("../img/bgcontato.jpg");
 background-size: 100%;
 border-radius: 21px 0;
 min-width: 400px;
}
#box-input
{
 margin: 3% 0px 7% 0%;
}
.engloba_input
{
 margin: 5px auto;
}
.engloba_input > label
{
 padding-left: 20px;
}
#formulario_contato > form
{
 color: black;
}
.engloba_input > input[type="text"]
{
 width: 56%;
}
/*////////////////// FALE CONOSCO //////////////////////////////*/
#box_formulario_inputs
{
 min-height: 400px;
 padding: 15px;
 width: 100%;
}
#box_formulario_endereco
{
 background: linear-gradient(to bottom, rgba(242,242,242,0) 1%,rgba(242,242,242,0) 2%,rgba(229,229,229,0.21) 48%,rgba(229,229,229,0.22) 50%,rgba(229,229,229,0.05) 99%,rgba(229,229,229,0.05) 100%);
 background: -moz-linear-gradient(top, rgba(242,242,242,0) 1%, rgba(242,242,242,0) 2%, rgba(229,229,229,0.21) 48%, rgba(229,229,229,0.22) 50%, rgba(229,229,229,0.05) 99%, rgba(229,229,229,0.05) 100%);
 background: -ms-linear-gradient(top, rgba(242,242,242,0) 1%,rgba(242,242,242,0) 2%,rgba(229,229,229,0.21) 48%,rgba(229,229,229,0.22) 50%,rgba(229,229,229,0.05) 99%,rgba(229,229,229,0.05) 100%);
 background: -o-linear-gradient(top, rgba(242,242,242,0) 1%,rgba(242,242,242,0) 2%,rgba(229,229,229,0.21) 48%,rgba(229,229,229,0.22) 50%,rgba(229,229,229,0.05) 99%,rgba(229,229,229,0.05) 100%);
 background: url(data:image/svg+xml;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(242,242,242,0)), color-stop(2%,rgba(242,242,242,0)), color-stop(48%,rgba(229,229,229,0.21)), color-stop(50%,rgba(229,229,229,0.22)), color-stop(99%,rgba(229,229,229,0.05)), color-stop(100%,rgba(229,229,229,0.05)));
background: -webkit-linear-gradient(top, rgba(242,242,242,0) 1%,rgba(242,242,242,0) 2%,rgba(229,229,229,0.21) 48%,rgba(229,229,229,0.22) 50%,rgba(229,229,229,0.05) 99%,rgba(229,229,229,0.05) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f2f2f2', endColorstr='#0de5e5e5',GradientType=0 );
float: right;
max-width: 388px;
min-height: 400px;
min-width: 267px;
}

#box-unidade-selecionada
{
 background: linear-gradient(to bottom, rgba(242,242,242,0) 1%,rgba(242,242,242,0) 2%,rgba(229,229,229,0.21) 48%,rgba(229,229,229,0.22) 50%,rgba(229,229,229,0.05) 99%,rgba(229,229,229,0.05) 100%);
 background: -moz-linear-gradient(top, rgba(242,242,242,0) 1%, rgba(242,242,242,0) 2%, rgba(229,229,229,0.21) 48%, rgba(229,229,229,0.22) 50%, rgba(229,229,229,0.05) 99%, rgba(229,229,229,0.05) 100%);
 background: -ms-linear-gradient(top, rgba(242,242,242,0) 1%,rgba(242,242,242,0) 2%,rgba(229,229,229,0.21) 48%,rgba(229,229,229,0.22) 50%,rgba(229,229,229,0.05) 99%,rgba(229,229,229,0.05) 100%);
 background: -o-linear-gradient(top, rgba(242,242,242,0) 1%,rgba(242,242,242,0) 2%,rgba(229,229,229,0.21) 48%,rgba(229,229,229,0.22) 50%,rgba(229,229,229,0.05) 99%,rgba(229,229,229,0.05) 100%);
 background: url(data:image/svg+xml;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(242,242,242,0)), color-stop(2%,rgba(242,242,242,0)), color-stop(48%,rgba(229,229,229,0.21)), color-stop(50%,rgba(229,229,229,0.22)), color-stop(99%,rgba(229,229,229,0.05)), color-stop(100%,rgba(229,229,229,0.05)));
background: -webkit-linear-gradient(top, rgba(242,242,242,0) 1%,rgba(242,242,242,0) 2%,rgba(229,229,229,0.21) 48%,rgba(229,229,229,0.22) 50%,rgba(229,229,229,0.05) 99%,rgba(229,229,229,0.05) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f2f2f2', endColorstr='#0de5e5e5',GradientType=0 );
float: left;
max-width: 388px;
min-height: 400px;
min-width: 267px;
margin-top: 10%;
}

#titulo-unidade{
  margin-top: 7%;
  margin-bottom: 5%;
  color: #4e4e4e;
  font-family: tahoma;
  font-stretch: condensed;
  font-weight: bold;
  font-size: 2em;
}
.input_box_30
{
  margin: 2px;
  min-height: 60px;
  min-width: 190px;
  word-wrap: break-word;
}
#box_formulario_inputs > div > div > input[type="text"],#box_formulario_inputs > div > div > input[type="email"]
{
  height: 25px;
  width: 100%;
}
#box_formulario_inputs > div:nth-child(6) > div > select
{
  height: 30px!important;
  width: 100%;
}
#box_formulario_endereco > div.box-100 > iframe
{
  border: 0;
  height: 210px;
  width: 100%;
}
#accordion
{
  display: none;
  margin-left: 10px;
}
/*//////////////////////////A EQUIPE DE GESTORES//////////////////////////////////////////////*/
.pessoa
{
  border-bottom: 1px solid #D3D3D3;
  margin: auto 5px;
  width: 100%;
}
#containner_sobre_nos
{
  margin: 10px auto;
}
/*/////////////////////////// PARCEIROS///////////////////////////////////////////////*/
/*/////////////////////////// PARCEIROS///////////////////////////////////////////////*/
.parceiro
{
  margin: 15px;
  min-height: 150px;
  width: 200px;
}
.img-parceiro
{
  height: 153px;
}
.nome-parceiro
{
  height: 20px;
}

/*/////////////////////////// TABS - POS - COMPLEMENTAÃ‡ÃƒO ///////////////////////////////////////////////*/

/*Box flutuante*/
.box ul{
  list-style: none;
}

/*strong{
  text-align: center;
  float: left;
}*/

/*.cinza, .branco{
  padding: 2% !important;
}*/

.box{
  width:27%;
  background: #ccc;
  border-radius: 5px 5px 0 0;
  margin-bottom: 0;
  margin-right: 2%;
  bottom: 0;
  left:68%;
  position: fixed;
  font-family: helvetica, arial, sans-serif;
  z-index: 1000;
}

.boxheader{
  background: #f7931e;
  border-radius: 5px 5px 0 0;
  width: 100%;
  height: 30px;
  padding: 2% 0;
  top: 0;
  position: relative;
  cursor: pointer;
  color: #fff;
}

.boxheader div{
  text-align: center;
  font-weight: bold;
  height: 30px;
  font-size: 14px;
}

.boxcontent{
  width: 90%;
  margin-left: 5%;
  display: none;
  color: #000;
}

.boxcontent ul{
  float: left;
  padding: 0;
}

.boxcontent strong{
  font-size: 15px;
}

.btnbox{
  text-decoration: none;
  color: #fff;
  white-space: nowrap;
  font-size: 13px;
  text-align: center;
  float: left;
  width: 48%;
  padding:3% 0 3% 0;
  margin: 1% 0.5%;
  border-radius: 5px;
  background: #f7931e;
}

.formbox input, .formbox select{
  width: 100%;
  height: 35px;
  border: none;
  margin: 2% 0;
}

.formbox button{
  width: 50%;
  margin-left: 25%;
  height: 35px;
  border: none;
  background: #f7931e;
  color: #fff;
  margin-bottom: 2%;
}
.txt1{
  display: block;
}

.txt2{
  display: none;
}

.txt4{
  text-align: center;
  margin-bottom: 2%;
}

.txt4 a{
  text-align: center;
  text-decoration: none;
  color: #fff;
  padding: 10px;
  background: #f7931e;
}

@media screen and (max-width: 1024px){
  .box{
    width: 40%;
    left: 50%
  }

  .btnbox{
    width: 100%
  }

  .formbox button{
    width: 100%;
    margin-left: 0;
  }
}

@media screen and (max-width: 740px){
  .box{
    left: 5%;
    width: 90%;
  }

  .btnbox{
    width: 100%
  }

  .formbox button{
    width: 100%;
    margin-left: 0;
  }
}

/*Box flutuante*/
